@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('../../fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../fonts/RobotoMono-Medium.woff2') format('woff2'),
        url('../../fonts/RobotoMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../../fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
