.site-container {
    padding-top: 109px;

    @include breakpoint( $breakpoint_laptop ) {
        padding-top: 103px;
    }

    @include breakpoint( $breakpoint_desktop ) {
        padding-top: 109px;
    }

    @include breakpoint( $breakpoint_tablet ) {
        padding-top: 89px;
    }

    @include breakpoint( $breakpoint_mobile ) {
        padding-top: 72px;
    }
}

.main {

    &--video-archive,
    &--video-single {
        padding: 0;
    }
}