.footer {
	width: 100%;
	padding: $grid_margin 0px;

	&--site {
		color: $color_light_gray;
		background: $color_footer_background;
	}

	&--landing {
		background-color: transparent;
		padding-bottom: 150px;

		.footer__copyright {
			text-align: left;
		}

		@include breakpoint( $breakpoint_mobile ) {
			padding-bottom: 50px;
		}
	}


	/*** top content **/

	&__top{
		display: flex;
		align-items: center;
		padding: $component_margin 0;

		@include breakpoint($breakpoint_desktop) {
			display: block;
			padding: $component_margin/2 0 0 0;
		}

		&-left{
			@include breakpoint($breakpoint_desktop) {
				display: block;
				padding: $component_margin/2 0 0 0;
				float: none;
				width: 100%;
			}
		}
		&-right{
			margin-left: auto;
			@include breakpoint($breakpoint_desktop) {
				display: block;
				padding: $component_margin/2 0 0 0;
				float: none;
				width: 100%;
			}
		}
	}

	&__logo {
		display: inline-block;
		max-width: 190px;
		vertical-align: middle;
		opacity: 0.7;

		@include breakpoint($breakpoint_desktop) {
			display: block;
			margin: 0 auto;
		}
	}

	.social{
		float: right;
		vertical-align: middle;

		&__link{
			display: inline-block;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		&__icon{
			background: $color_light_gray;
			border-radius: 50%;
			svg{
				width: 14px;
				height: 14px;
				use{
					fill: $color_dark;
				}
			}
		}
		@include breakpoint($breakpoint_desktop) {
			float: none;
			width: 100%;
			text-align: center;
		}
	}


	/*** divider line **/

	&__divider{
		display: block;
		margin: $component_margin -#{$component_margin};
		width: calc( 100% + #{$component_margin*2} );
		height: 1px;
		background: #fff;
		opacity: .5;

		@include breakpoint($breakpoint_laptop) {
			float: none;
			margin: $component_margin;
			width: calc( 100% - #{$component_margin*2} );
			text-align: center;
		}
	}


	/*** bottom content **/

	&__bottom{
		display: block;
	}

	&__copyright{
		color: #fff;
		font-size: 13px;

		@include breakpoint($breakpoint_desktop) {
			float: none;
			width: 100%;
			text-align: center;
		}
	}

	&__links{
		text-align: right;

		a {
			margin: 0 $component_margin/2;
			color: #fff;
			font-size: 13px;
			text-decoration: underline;

			&:hover {
				color: rgb(153, 153, 153);
			}
		}

		@include breakpoint($breakpoint_desktop) {
			float: none;
			width: 100%;
			margin: $component_margin/2;
			text-align: center;
		}
	}
}
