%small-shrink {
    @include breakpoint( $breakpoint_small ) {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
        min-width: 1px;
    }
}

.main-navigation,
.location-visit-global,
.location-select {
    margin-bottom: 42px;

    @include breakpoint( $breakpoint_mobile ) {
        margin-bottom: 20px;
    }
}

.menu-container {
    position: absolute;
    top: 100%;
    left: -25px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    margin-top: -1px;
    transform: translate3d(0,-30px,0);
    transition: $transition;
    transition-delay: 200ms;
    background-color: black;;
    padding: 32px 100px;
    padding-right: 15px;
    padding-bottom: 40px;

    @include breakpoint( $breakpoint_desktop ) {
        padding-left: 80px;
    }

    @include breakpoint( $breakpoint_tablet ) {
        left: -15px;
        padding-left: 50px;
        transform: translate3d(-30px,0,0);
        width: 330px;
        height: calc( 100vh - 50px );
        overflow-y: scroll;
    }

    @include breakpoint( $breakpoint_small ) {
        width: calc( 100vw + 15px );
    }

    &-wrapper {
        position: relative;
        @extend %small-shrink;
    }
}

.menu-open {

    .menu-container {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0,0,0);
    }
}


.location-visit-global {

    &__label {
        font-size: 11px;
        color: #8b8b8b;
        margin-bottom: 10px;
    }

    &__link {
        position: relative;
        display: block;
        color: white;
        font-size: 14px;
        text-transform: uppercase;

        &:hover {
            color: white;
            opacity: .6;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 100%;
        margin-right: 10px;
        transform: translate3d(0,-50%,0);

        .svg-icon {
            display: block;
            width: 16px;
            height: 16px;
            fill: #8b8b8b;
        }
    }
}

.location-select {
    max-width: 195px;

    &__label {
        font-size: 11px;
        color: #8b8b8b;
        margin-bottom: 5px;
    }

    &__field {
        position: relative;
        margin-left: -8px;
        margin-right: -8px;
        font-size: 12px;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
    }

    &__input {
        position: relative;
        display: block;

        &-icon {
            position: absolute;
            top: 50%;
            right: 100%;
            margin-right: 10px;
            transform: translate3d(0,-50%,0);

            .svg-icon {
                display: block;
                width: 18px;
                height: 18px;
                fill: #8b8b8b;
            }
        }
    }

    .selectize {

        &-input {

            &.full {
                padding: 8px;
                background-color: transparent;
                color: inherit;
                text-transform: inherit;
            }

            &::after {
                border-top-color: #8b8b8b!important;
            }

            &.input-active {
                background-color: rgba(0, 0, 0, .2)!important;

                &::before {
                    content: none;
                }

                &::after {
                    border-bottom-color: white!important;
                }
            }
        }

        &-dropdown {
            border: none;

            .option {
                padding-left: 8px;
            }
        }
    }
}

.search-form {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 285px;
    justify-content: flex-end;

    &.has-focus,
    &:hover {

        .search-form {
            &__label {
                opacity: 1;
                visibility: visible;
            }

            &__field {
                width: 100%;
            }
        }
    }

    &-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @extend %small-shrink;

        @include breakpoint( $breakpoint_small ) {
            overflow: visible;
        }
    }

    &__label {
        display: flex;
        flex: 1 1 100%;
        justify-content: flex-end;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        overflow: hidden;
        border-radius: 4px;

        @include breakpoint( $breakpoint_small ) {
            overflow: visible;
        }
    }

    &__field {
        width: 0;
        min-height: 45px;
        padding: 5px 30px 5px;
        padding-right: 55px;
        background-color: rgba(0, 0, 0, .2);
        border: none;
        border-radius: 4px;
        outline: none;
        transition: $transition;
        font-size: 14px;
        font-weight: 500;

        @include breakpoint( $breakpoint_tablet ) {
            min-height: 40px;
            height: auto;
        }

        @include breakpoint( $breakpoint_small ) {
            min-width: 200px;
            min-width: calc( 100vw - 135px - 5% );
            background-color: #1b1b1b;
            padding: 4px 25px 4px;
            padding-right: 45px;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:active,
        &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 1000px rgba(0,0,0,0) inset !important;
        }

        &::placeholder {
            color: #b2b2b2;
        }

        &::-moz-placeholder {
            color: #b2b2b2;
        }

        &::-webkit-placeholder {
            color: #b2b2b2;
        }

    }

    &__submit {
        position: absolute;
        top: 50%;
        right: -8px;
        margin: 0;
        padding: 8px;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        transform: translate3d(0,-50%,0);
        z-index: 10;

        &:hover {
            box-shadow: none;
            background-color: rgba(0, 0, 0, .2);
        }

        svg {
            display: block;
            width: 28px;
            height: 28px;
            fill: white;
        }
    }
}