.header {
	background: #000;
	color: white;

	&--site {
		position: fixed;
		top: 0;
		left: 0;
		padding: 0px;
		width: 100%;
		z-index: 1050;

		.container {
			display: flex;
			flex-flow: nowrap;
			justify-content: space-between;
			align-items: center;

			&::before,
			&::after {
				content: none;
			}
		}
	}

	&--landing {
		padding: 130px 0 85px;
		background-color: transparent;

		@include breakpoint( $breakpoint_mobile ) {
			padding: 55px 0 35px;
		}

		.logo {
			display: block;
			float: none;
			margin: 0;

			&__link {
				display: block;
				max-width: 160px;
				margin: inherit;
				margin-left: -5px;
			}

			&__img {
				display: block;
				margin-bottom: 25px;
			}
		}

		.site-tagline {
			color: gray;
			font-size: 18px;
		}
	}
}

// Header Elements
@import 'header-elements';