/*** Layout ***/

.layout {
	@extend .clearfix;
	position: relative;
	width: 100%;
	padding: $grid_margin 0px;
	background-size: cover;
	background-position: center;
}

.wrapper {
    width: 100%;
    max-width: $outer_width;
    margin: 0 auto;
}

.layout--narrow .wrapper {
	width: $grid_content_narrow;
}

.section {
	&__header {
		position: relative;
		padding: $component_margin 0;
		margin-left: -5px;
		margin-right: -5px;

		@include breakpoint(1400) {
			margin-left: 0;
			margin-right: 0;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: -10px;
			right: -10px;
			height: 1px;
			background-color: #fff;
			transform: translate3d(0,-50%,0);

			@include breakpoint(1400) {
				left: 0;
				right: 0;
			}
        }

        .section__more {
            color: #000;
        }
	}

	&__more,
	&__headline {
		display: inline-flex;
		padding: 0 5px;
		background-color: #fff;
        z-index: 2;
        color: #fff;

        &:hover {
            color: lighten(#000,10);
        }
	}

	&__headline {
		position: relative;
		font-size: 14px;
		font-weight: bold;
		color: #000;
		margin-bottom: 0;
	}

	&__more {
		position: absolute;
		top: 50%;
		right: 0;
		font-size: 12px;
		transform: translate3d(0,-50%,0);
	}
}
