@charset "UTF-8";
/*!
Theme Name: AM2 Theme
Theme URI:
Author: AM2 Studio
Author URI: http://am2studio.hr/
Description: AM2 Admin Starter Theme.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
!*/
/* Variables & Mixins */
/**
*
* Variables
*
**/
/** Grid **/
/* refractor this vars */
/** Typography **/
/** Buttons **/
/**
*
* Colors
*
**/
/** General **/
/** Body **/
/** Links **/
/** Sidebar **/
/**
*
* Transitions
*
**/
/**
*
* Breakpoints
*
**/
/**
*
* Mixins
*
**/
/*
 * BEM element/modifier
 */
/* Reset */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-overflow-scrolling: touch; }

/**
 * Remove default margin.
 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Base */
/**
* Variables used in this file from abstracts/_variable.scss
*
* None
*
*/
/**
* Specific variables (used only in this file) 
*
* None
*
**/
/**
*
* Fonts
*
**/
/*
@font-face {
    font-family: 'geogrotesque';
    src: url('fonts/Geogtq-Rg-webfont.eot');
    src: url('fonts/Geogtq-Rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geogtq-Rg-webfont.woff2') format('woff2'),
         url('fonts/Geogtq-Rg-webfont.woff') format('woff'),
         url('fonts/Geogtq-Rg-webfont.ttf') format('truetype'),
         url('fonts/Geogtq-Rg-webfont.svg#geogrotesque') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'geogrotesque';
    src: url('fonts/Geogtq-Md-webfont.eot');
    src: url('fonts/Geogtq-Md-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geogtq-Md-webfont.woff2') format('woff2'),
         url('fonts/Geogtq-Md-webfont.woff') format('woff'),
         url('fonts/Geogtq-Md-webfont.ttf') format('truetype'),
         url('fonts/Geogtq-Md-webfont.svg#geogrotesque') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'geogrotesque';
    src: url('fonts/Geogtq-Bd-webfont.eot');
    src: url('fonts/Geogtq-Bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geogtq-Bd-webfont.woff2') format('woff2'),
         url('fonts/Geogtq-Bd-webfont.woff') format('woff'),
         url('fonts/Geogtq-Bd-webfont.ttf') format('truetype'),
         url('fonts/Geogtq-Bd-webfont.svg#geogrotesque') format('svg');
    font-weight: 700;
    font-style: normal;

}
*/
/**
* Variables used in this file from abstracts/_variable.scss
*
$font_family
$font_size
$font_line_height
$color_secondary
$color_body_text
$color_body_background
$color_link
$color_link_hover
$component_margin
$transition
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
/**
*
* Defaults
*
**/
* {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clearfix, .main, .container, .layout, .flexible-block, .am2-files, .form__row, .am2-gallery, .menu, .mobile-header, .social, .am2-tabs__titles, .am2-video, .am2-content {
  *zoom: 1; }

.clearfix:before, .main:before, .container:before, .layout:before, .flexible-block:before, .am2-files:before, .form__row:before, .am2-gallery:before, .menu:before, .mobile-header:before, .social:before, .am2-tabs__titles:before, .am2-video:before, .am2-content:before,
.clearfix:after,
.main:after,
.container:after,
.layout:after,
.flexible-block:after,
.am2-files:after,
.form__row:after,
.am2-gallery:after,
.menu:after,
.mobile-header:after,
.social:after,
.am2-tabs__titles:after,
.am2-video:after,
.am2-content:after {
  display: table;
  content: ''; }


.clearfix:after,
.main:after,
.container:after,
.layout:after,
.flexible-block:after,
.am2-files:after,
.form__row:after,
.am2-gallery:after,
.menu:after,
.mobile-header:after,
.social:after,
.am2-tabs__titles:after,
.am2-video:after,
.am2-content:after {
  clear: both; }

a {
  color: #668f35;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #81b443; }

p,
ul,
ol {
  margin: 0 0 28px 0; }

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0; }

a,
a img,
button {
  transition: all 300ms ease 0s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
  font-weight: 500;
  margin: 0px 0px 28px 0px; }
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child {
    margin-bottom: 0px; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #668f35; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #81b443; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 12px; }

mark {
  display: inline-block;
  background: #996AFF;
  color: #ffffff;
  padding: 0px 4px; }

/* Images
------------------------------------------------------------ */
figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center; }

figure img {
  display: block;
  width: 100%;
  height: auto; }

figure a:hover img {
  opacity: .8; }

img {
  max-width: 100%;
  border: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

svg:not(:root) {
  overflow: hidden; }

img.dummy {
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; }

img.real_img {
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

img.wider {
  height: auto !important;
  width: 100% !important; }

img.taller {
  width: auto !important;
  height: 100% !important; }

/* Layout */
/**
*
* AM2 Grid Maker
*
**/
.container {
  width: 100%;
  padding: 0px 1.2195%; }

.col-1 {
  width: 100%; }

.col-12 {
  width: 49.16667%;
  margin-right: 1.66667%; }

.col-13 {
  width: 32.22222%;
  margin-right: 1.66667%; }

.col-14 {
  width: 23.75%;
  margin-right: 1.66667%; }

.col-15 {
  width: 18.66667%;
  margin-right: 1.66667%; }

.col-16 {
  width: 15.27778%;
  margin-right: 1.66667%; }

.col-23 {
  width: 66.11111%;
  margin-right: 1.66667%; }

.col-25 {
  width: 39.0%;
  margin-right: 1.66667%; }

.col-34 {
  width: 74.58333%;
  margin-right: 1.66667%; }

.col-35 {
  width: 59.33333%;
  margin-right: 1.66667%; }

.col-45 {
  width: 79.66667%;
  margin-right: 1.66667%; }

.col-12:nth-of-type(2n) {
  margin-right: 0px; }

.col-13:nth-of-type(3n) {
  margin-right: 0px; }

.col-14:nth-of-type(4n) {
  margin-right: 0px; }

.col-15:nth-of-type(5n) {
  margin-right: 0px; }

.col-16:nth-of-type(6n) {
  margin-right: 0px; }

.col-12 .col-12:nth-of-type(2n) {
  margin-right: 0px; }

.col-12 .col-13:nth-of-type(3n) {
  margin-right: 0px; }

.col-14 .col-12:nth-of-type(2n) {
  margin-right: 0px; }

.col-34 .col-12:nth-of-type(2n) {
  margin-right: 0px; }

.col-1,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-23,
.col-25,
.col-34,
.col-35,
.col-45,
.col-56 {
  float: left; }

.col-last {
  margin-right: 0; }

/*** Layout ***/
.layout {
  position: relative;
  width: 100%;
  padding: 20px 0px;
  background-size: cover;
  background-position: center; }

.wrapper {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto; }

.layout--narrow .wrapper {
  width: 960px; }

/*** WordPress Default ***/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.header--site {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  color: #000;
  background: #39b54a;
  z-index: 9999;
  transition: all 300ms ease 0s;
  transform: translate3d(0, 0, 0); }

.header__logo {
  margin: 0;
  padding: 0;
  line-height: 1; }
  .header__logo a img {
    width: 100%; }

#content {
  margin-top: 88px; }

.footer {
  width: 100%;
  padding: 20px 0px; }
  .footer--site {
    color: #ffffff;
    background: #39b54a; }

/* Components */
/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$text_color_primary
$transition
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.am2-accordion {
  width: 100%; }
  .am2-accordion:last-child {
    margin-bottom: 0px; }
  .am2-accordion__panel {
    clear: both; }
  .am2-accordion__panel-title {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    color: #ffffff;
    fill: #ffffff;
    background: #39b54a;
    border-bottom: 1px solid #2d8e3a;
    transition: all 300ms ease 0s; }
    .am2-accordion__panel-title:hover {
      background: #2d8e3a; }
  .am2-accordion__toggle-icon {
    top: 4px;
    float: right;
    width: 16px;
    height: 16px;
    transition: all 300ms ease 0s; }
  .am2-accordion__panel-content {
    display: none;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0 0 3px 3px; }
  .am2-accordion__panel--current .am2-accordion__panel-title {
    background: #2d8e3a; }
  .am2-accordion__panel--current .am2-accordion__toggle-icon {
    top: 0;
    -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); }

/* Section General CSS */
.entry-showcase {
  padding: 25px 0 0; }
  .entry-showcase__item {
    margin-bottom: 25px; }
  .entry-showcase--vertical {
    background-color: rgba(0, 0, 0, 0.1); }
    .entry-showcase--vertical .entry-item__image {
      width: 100%; }

/* A single item */
.entry-item .wrapper {
  width: auto;
  margin-left: -1.2195%;
  margin-right: -1.2195%; }

.entry-item__title {
  line-height: 35px;
  margin-bottom: 10px; }

.entry-item__date {
  display: block;
  opacity: .8;
  margin-bottom: 10px; }

.entry-item__image {
  max-height: 200px;
  object-fit: cover; }

.entry-item__description {
  margin-bottom: 25px; }

.badge {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 9px;
  padding: 0px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #333333;
  line-height: 16px;
  color: #f7f7f7;
  border-radius: 3px; }
  .badge--primary {
    background: #39b54a;
    color: #f7f7f7; }
  .badge--secondary {
    background: #996AFF;
    color: #f7f7f7; }
  .badge--featured {
    background: #CC7D2C;
    color: #f7f7f7; }
  .badge--transparent {
    background: transparent;
    color: #39b54a; }
  .badge--danger {
    background: #B2153D;
    color: #f7f7f7; }
  .badge--full-width {
    width: 100%; }

/*** Flexible Content wrapper ***/
.flexible-block {
  position: relative;
  margin-bottom: 28px; }
  .flexible-block:last-of-type {
    margin-bottom: 0; }

.breadcrumbs {
  padding: 0;
  margin-bottom: 28px; }
  .breadcrumbs__item {
    display: inline-block;
    color: #39b54a; }
    .breadcrumbs__item-icon {
      margin: 0 10px;
      width: 12px;
      height: 12px;
      fill: #39b54a; }

/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$color_secondary
$color_featured
$color_danger
$color_body_text
$color_gray
$text_color_primary
$text_color_secondary
$text_color_featured
$text_color_danger
$padding_button
$padding_large_button
$padding_small_button
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
button,
.button {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 4px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 14px;
  padding: 10px 13px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #ecedf0;
  color: #333333;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: .3s ease-out; }
  button:active,
  .button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  button:focus,
  .button:focus {
    text-decoration: none;
    color: #333333; }
  button:hover,
  .button:hover {
    background: #f2f2f5;
    color: #333333;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
  button:last-child,
  .button:last-child {
    margin-right: 0px; }

.button span {
  display: inline-block;
  margin-right: 6px; }
  .button span:last-child {
    margin-right: 0px; }

.button__icon {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  vertical-align: text-top; }
  .button__icon:last-child {
    margin-right: 0px; }

.button--large {
  padding: 14px 20px;
  font-size: 18px; }
  .button--large .button__icon {
    width: 18px;
    height: 18px; }

.button--small {
  padding: 6px 8px;
  font-size: 9px; }
  .button--small .button__icon {
    width: 12px;
    height: 12px; }

.button--primary {
  background: #39b54a;
  color: #ffffff;
  fill: #ffffff; }
  .button--primary:hover {
    background: #44c455;
    color: #ffffff;
    fill: #ffffff; }
  .button--primary:focus {
    color: #ffffff;
    fill: #ffffff; }

.button--secondary {
  background: #996AFF;
  color: #ffffff;
  fill: #ffffff; }
  .button--secondary:hover {
    background: #aa84ff;
    color: #ffffff;
    fill: #ffffff; }
  .button--secondary:focus {
    color: #ffffff;
    fill: #ffffff; }

.button--featured {
  background: #CC7D2C;
  color: #ffffff;
  fill: #ffffff; }
  .button--featured:hover {
    background: #d58a3c;
    color: #ffffff;
    fill: #ffffff; }
  .button--featured:focus {
    color: #ffffff;
    fill: #ffffff; }

.button--danger {
  background: #B2153D;
  color: #ffffff;
  fill: #ffffff; }
  .button--danger:hover {
    background: #e01a4d;
    color: #ffffff;
    fill: #ffffff; }
  .button--danger:focus {
    color: #ffffff;
    fill: #ffffff; }

.button--transparent {
  background: transparent;
  color: #39b54a;
  fill: #39b54a;
  box-shadow: none; }
  .button--transparent:hover {
    color: #57ca67;
    fill: #57ca67;
    background: transparent;
    box-shadow: none; }
  .button--transparent:active {
    box-shadow: none; }
  .button--transparent:focus {
    background-color: transparent; }

.button--full-width {
  display: block;
  width: 100%; }

button:disabled,
.button--disabled {
  opacity: 0.7;
  pointer-events: none;
  box-shadow: none; }
  button:disabled:hover,
  .button--disabled:hover {
    color: inherit;
    background-color: inherit; }

/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$transition
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.am2-file {
  margin-bottom: 20px;
  padding: 20px;
  border-left: 4px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px;
  transition: all 300ms ease 0s; }
  .am2-file:hover {
    border-left: 4px solid #39b54a; }
    .am2-file:hover .am2-file__icon {
      width: 16px;
      height: 16px;
      margin-right: 4px; }
  .am2-file__name {
    margin-bottom: 10px;
    font-size: 24px;
    color: #39b54a; }
  .am2-file__description {
    width: 100%; }
    .am2-file__description p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px; }
  .am2-file__link {
    font-size: 14px;
    font-weight: 300; }
    .am2-file__link span {
      color: #2d8e3a; }
  .am2-file__icon {
    width: 0px;
    height: 16px;
    fill: #2d8e3a;
    transition: all 300ms ease 0s; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

textarea, .form__input {
  display: block;
  overflow: visible;
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 1px solid #ecedf0;
  border-bottom-color: #d0d2da;
  border-bottom-width: 2px; }

textarea {
  height: 302px; }
  @media (max-width: mobilepx) {
    textarea {
      height: 130px; } }

input:focus,
input:active,
textarea:focus,
textarea:active {
  border-bottom-color: #39b54a; }

label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 14px; }
  label[data-error] {
    display: block;
    height: 0px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  margin-left: 25px; }

input[type="checkbox"] + label:after {
  opacity: 0;
  content: '✔';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 0px;
  left: 3px;
  color: #ecedf0;
  cursor: pointer;
  -ms-transform: scale(0);
      transform: scale(0); }

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  color: #333333;
  -ms-transform: scale(1);
      transform: scale(1); }

input[type="checkbox"] + label:before {
  content: '';
  cursor: pointer;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  border: 2px solid #ecedf0;
  cursor: pointer; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  margin-left: 25px; }

input[type="radio"] + label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f7f7f7;
  top: 4px;
  left: 4px;
  cursor: pointer;
  border-radius: 50%;
  -ms-transform: scale(0);
      transform: scale(0); }

input[type="radio"]:checked + label:after {
  opacity: 1;
  background: #333333;
  -ms-transform: scale(1);
      transform: scale(1); }

input[type="radio"] + label:before {
  content: '';
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border: 2px solid #ecedf0;
  cursor: pointer;
  border-radius: 50%; }

/* Chrome orange autofill color override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.form {
  margin-bottom: 28px; }
  .form:last-child {
    margin-bottom: 0; }
  .form__field-icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #f7f7f7;
    border: 1px solid #ecedf0;
    border-bottom-color: #d0d2da;
    border-bottom-width: 2px; }
    .form__field-icon--left {
      right: auto;
      left: 0; }
  .form__input::-webkit-file-upload-button {
    position: relative;
    left: -10px; }
  .form__input:disabled {
    color: rgba(247, 247, 247, 0.3);
    background: #ecedf0;
    box-shadow: none; }
  .form__input--has-left-icon {
    padding-left: 68px !important; }
  .form__input--has-right-icon {
    padding-right: 68px !important; }
  .form__row {
    position: relative;
    margin-bottom: 28px; }
    .form__row:last-child {
      margin-bottom: 0; }
  .form__input-row {
    position: relative; }
  .form__required {
    color: #B2153D;
    vertical-align: super;
    font-size: smaller; }
  .form__field-description {
    vertical-align: super;
    font-size: smaller; }
  .form__column {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.66667%;
    /*
        &[class^="col-"], &[class*=" col-"] {
            margin-right: $margin + unquote("%");
        }
        */ }

/** Gallery **/
.am2-gallery__image {
  margin-bottom: 2.5%; }

.logo {
  float: left;
  margin: 0px;
  line-height: 100px; }
  @media (max-width: 640px) {
    .logo {
      height: auto;
      max-width: 180px; } }
  .logo__link {
    display: block;
    font-size: 24px;
    color: #ffffff; }
    .logo__link img {
      width: 100%;
      vertical-align: middle; }
    .logo__link:hover {
      color: #eeeeee; }

/*** Map ***/
.am2-map {
  position: relative;
  display: block;
  width: 100%;
  height: 400px; }

.main-navigation {
  float: right;
  padding: 0; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .menu .sub-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    background-color: #39b54a;
    filter: alpha(opacity=0);
    left: auto;
    min-width: 220px;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 120%;
    transition: all 300ms ease 0s;
    visibility: hidden;
    width: auto;
    z-index: 1030;
    list-style-type: none; }
    @media (max-width: 640px) {
      .menu .sub-menu {
        visibility: visible;
        opacity: 1;
        border-top: 0; } }
    @media (max-width: 440px) {
      .menu .sub-menu {
        visibility: visible;
        opacity: 1;
        border-top: 0; } }
    .menu .sub-menu .menu-item {
      float: left;
      margin: 0;
      padding: 20px;
      width: 100%;
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.03); }
      @media (max-width: 640px) {
        .menu .sub-menu .menu-item {
          padding: 0 5px; } }
      @media (max-width: 440px) {
        .menu .sub-menu .menu-item {
          padding: 0 5px; } }
      .menu .sub-menu .menu-item a {
        font-size: 14px;
        line-height: 1.4;
        text-transform: inherit;
        text-align: left; }
      .menu .sub-menu .menu-item:first-child {
        border-top: 0px solid transparent; }
  .menu--main-menu {
    /* in sake of wordpress css class naming standards -.-  */ }
    .menu--main-menu .menu-item {
      float: left;
      margin: 0 0 0 15px;
      line-height: 100px; }
      .menu--main-menu .menu-item a {
        text-align: center;
        display: block;
        color: #ffffff; }
        .menu--main-menu .menu-item a:hover {
          color: #996AFF; }
      .menu--main-menu .menu-item:hover .sub-menu {
        top: 100%;
        opacity: 1;
        visibility: visible; }
        .menu--main-menu .menu-item:hover .sub-menu li a {
          color: #ffffff;
          line-height: 1.4;
          transition: all 300ms ease 0s; }
        .menu--main-menu .menu-item:hover .sub-menu li:hover a {
          color: #d9d9d9;
          transition: all 300ms ease 0s; }
    @media (max-width: 640px) {
      .menu--main-menu {
        display: none; } }
  .menu--responsive-menu {
    position: relative;
    width: 100%; }
    .menu--responsive-menu .sub-menu {
      position: relative;
      padding: 0;
      margin: 0;
      background: rgba(0, 0, 0, 0.3); }
    .menu--responsive-menu .menu-item {
      position: relative;
      display: block;
      margin: 0;
      clear: both; }
      .menu--responsive-menu .menu-item a {
        padding: 10px;
        border-bottom: #21672a 1px solid;
        color: #ffffff;
        display: block; }
      .menu--responsive-menu .menu-item .submenu-button {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0px;
        padding: 10px;
        background: #21672a; }
        .menu--responsive-menu .menu-item .submenu-button polygon {
          fill: #ffffff; }

/* responsive menu elements */
.resp-menu {
  position: fixed;
  top: 0;
  height: 120%;
  padding-bottom: 35%;
  width: 280px;
  right: -280px;
  overflow-y: scroll;
  background: #2d8e3a;
  z-index: 1000;
  transition: all 300ms ease 0s;
  transform: translate3d(0, 0, 0); }

.resp-buttons {
  position: relative;
  display: none; }
  @media (max-width: 640px) {
    .resp-buttons {
      display: inline-block; } }

.resp-menu-icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 21px;
  cursor: pointer; }
  .resp-menu-icon__line {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 3px solid #fff;
    width: 100%; }
    .resp-menu-icon__line--top {
      top: 0px; }
    .resp-menu-icon__line--middle {
      top: 9px; }
    .resp-menu-icon__line--bottom {
      top: 18px; }

.menu-open {
  overflow: hidden; }
  .menu-open .resp-menu {
    transform: translate3d(-280px, 0, 0); }
  .menu-open #header {
    transform: translate3d(-280px, 0, 0); }
  .menu-open .resp-menu-icon__line--top {
    top: 10px;
    -ms-transform: rotate(50deg);
        transform: rotate(50deg);
    color: #B39977; }
  .menu-open .resp-menu-icon__line--middle {
    opacity: 0; }
  .menu-open .resp-menu-icon__line--bottom {
    top: 10px;
    -ms-transform: rotate(-50deg);
        transform: rotate(-50deg);
    color: #B39977; }

.mobile-header {
  background: #2a2a2a; }
  @media (min-width: 768px) {
    .mobile-header {
      display: none; } }
  .mobile-header__logo {
    display: inline-block;
    width: 180px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: left;
    float: right; }
  .mobile-header__logo-link {
    display: block;
    vertical-align: text-top;
    text-align: right; }
    .mobile-header__logo-link img {
      width: 100%; }
  .mobile-header__logo-subtitle {
    text-align: right;
    font-size: 12px;
    line-height: 1;
    display: block;
    color: #919191; }
  .mobile-header__actions {
    float: left; }

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background: transparent; }
  .c-hamburger:hover {
    background: #39b54a; }

.c-hamburger:focus {
  outline: none;
  background: transparent; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 31px;
  left: 18px;
  right: 18px;
  height: 3px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.sidebar-left-open .c-hamburger--htx {
  background-color: #39b54a; }

.sidebar-left-open .c-hamburger--htx span {
  background: none; }

.sidebar-left-open .c-hamburger--htx span::before {
  top: 0;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.sidebar-left-open .c-hamburger--htx span::after {
  bottom: 0;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.sidebar-left-open .c-hamburger--htx span::before,
.sidebar-left-open .c-hamburger--htx span::after {
  transition-delay: 0s, 0.3s; }

/**
* Variables used in this file from abstracts/_variable.scss
*
$component_margin
$transition
*
*/
/**
* Specific variables (used only in this file) 
*
* None
*
**/
.modal-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  z-index: 1000;
  width: 600px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #39b54a;
  outline: none; }
  .modal-box .modal-box__header {
    padding: 1.25em 1.5em; }
    .modal-box .modal-box__header .modal-box__title {
      margin: 0; }
  .modal-box .modal-box__footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right; }
  .modal-box .modal-box__modal-body {
    min-height: 80px;
    padding: 1.25em 1.5em; }
  .modal-box .modal-box__close {
    line-height: 1;
    font-size: 2.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
    transition: all 300ms ease 0s; }
    .modal-box .modal-box__close:hover {
      color: #39b54a; }

.modal-box__modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important; }
  .modal-box__modal-overlay.active {
    opacity: 1; }

/**
* Variables used in this file from abstracts/_variable.scss
*
$font_line_height
$font_size
$component_margin
$color_primary
$color_secondary
$color_featured
$color_danger
$color_gray
$transition
$text_color_primary
$text_color_secondary
$text_color_featured
$text_color_danger
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.notification {
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 28px;
  padding: 28px;
  border-radius: 2px;
  background: #ecedf0;
  transition: all 300ms ease 0s;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  *zoom: 1; }
  .notification:last-child {
    margin-bottom: 0; }
  .notification:before, .notification:after {
    display: table;
    content: ''; }
  .notification:after {
    clear: both; }
  .notification__close {
    float: right;
    position: relative;
    top: 0px;
    right: -10px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    background: none;
    border: none;
    margin: 0px;
    padding: 0px 4px;
    box-shadow: none; }
    .notification__close:hover, .notification__close:focus {
      background: none;
      border: none;
      margin: 0px;
      box-shadow: none; }
  .notification .button {
    text-decoration: none; }
  .notification__icon {
    margin-right: 6px;
    width: 16px;
    height: 16px;
    vertical-align: text-top; }
    .notification__icon:last-child {
      margin-right: 0px; }
  .notification__title {
    margin-bottom: 4px; }
  .notification--success {
    background: #7ed68a;
    color: #ffffff;
    fill: #ffffff; }
    .notification--success p {
      color: #ffffff; }
    .notification--success a {
      text-decoration: underline;
      color: #ffffff; }
    .notification--success .notification__close {
      color: #ffffff;
      text-decoration: none; }
  .notification--warning {
    background: #e3b07b;
    color: #ffffff; }
    .notification--warning p {
      color: #ffffff; }
    .notification--warning a {
      text-decoration: underline;
      color: #ffffff; }
    .notification--warning .notification__close {
      color: #ffffff;
      text-decoration: none; }
  .notification--error {
    background: #e9446e;
    color: #ffffff; }
    .notification--error p {
      color: #ffffff; }
    .notification--error a {
      text-decoration: underline;
      color: #ffffff; }
    .notification--error .notification__close {
      color: #ffffff;
      text-decoration: none; }
  .notification--info {
    background: #dfd0ff;
    color: #ffffff; }
    .notification--info p {
      color: #ffffff; }
    .notification--info a {
      text-decoration: underline;
      color: #ffffff; }
    .notification--info .notification__close {
      color: #ffffff;
      text-decoration: none; }

.pagination {
  position: relative;
  padding-left: 0; }
  .pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px; }
    .pagination li a {
      color: #333333;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px; }
      .pagination li a:hover {
        background: #996AFF;
        color: #f7f7f7; }
    .pagination li.active a {
      color: #fff; }
      .pagination li.active a:hover {
        background: #996AFF; }
    .pagination li.active {
      background-color: #39b54a; }
    .pagination li.disabled a {
      cursor: default;
      color: #999; }
    .pagination li i {
      font-size: 2rem; }
  .pagination li.pages ul li {
    display: inline-block;
    float: none; }
  .pagination__arrow.disabled {
    pointer-events: none;
    opacity: .5; }
  .pagination__arrow svg {
    width: 30px;
    height: 30px;
    fill: #39b54a; }
  .pagination__arrow:hover a {
    background: none !important; }
    .pagination__arrow:hover a svg {
      fill: #996AFF; }
  .pagination__arrow--next {
    position: absolute;
    right: 0; }

/*** Slider ***/
.am2-slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  text-align: center;
  z-index: 1;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.social {
  padding: 0px; }
  .social__item {
    list-style-type: none;
    float: left;
    margin: 0px 4px; }
  .social a {
    display: block; }
  .social__icon svg {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: all 300ms ease 0s; }
    .social__icon svg use {
      fill: #ffffff; }
    .social__icon svg:hover {
      opacity: 0.6; }

.status {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 16px;
  border-radius: 3px; }
  .status:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    background: #333333;
    vertical-align: middle; }
  .status--primary:before {
    background: #39b54a; }
  .status--secondary:before {
    background: #996AFF; }
  .status--featured:before {
    background: #CC7D2C; }
  .status--transparent:before {
    background: transparent; }
  .status--danger:before {
    background: #B2153D; }
  .status--new:before {
    background: #f1e41a; }
  .status--in-progress:before {
    background: #67a6e7; }
  .status--done:before {
    background: #ade358; }
  .status--received:before {
    background: #a15bae; }
  .status--at-engravers:before {
    background: #aeaeae; }
  .status--shipping:before {
    background: #f19d1a; }
  .status--completed:before {
    background: #ade358; }
  .status--canceled:before {
    background: #de3524; }
  .status--invoice-pending:before {
    background: #f19d1a; }
  .status--closed:before {
    background: #aeaeae; }
  .status--paid:before {
    background: #67a6e7; }
  .status--full-width {
    width: 100%; }

/**
* Variables used in this file from abstracts/_variable.scss
*
* None
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.svg-icon {
  display: inline-block;
  vertical-align: middle; }
  .svg-icon--full-width {
    width: 100%; }
  .svg-icon--large {
    width: 72px;
    height: 72px; }
  .svg-icon--medium {
    width: 28px;
    height: 28px; }
  .svg-icon--small {
    width: 14px;
    height: 14px; }

/**
* Variables used in this file from abstracts/_variable.scss
*
$transition
$color_gray
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.am2-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 28px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto; }
  .am2-table:last-child {
    margin-bottom: 0px; }

.table {
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #ecedf0;
  border-left: 1px solid #ecedf0;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto; }
  .table__head .table__row:hover {
    background: inherit; }
  .table__heading {
    vertical-align: middle;
    border-top: 1px solid #ecedf0;
    border-bottom: 1px solid #ecedf0;
    border-right: 1px solid #ecedf0;
    text-align: center;
    padding: 5px 10px; }
  .table__row:hover {
    background: #f7f7f7; }
  .table__cell {
    text-align: left;
    padding: 5px 10px;
    border-top: 1px solid #ecedf0;
    border-right: 1px solid #ecedf0; }
    .table__cell:first-child {
      text-align: left; }

/**
* Variables used in this file from abstracts/_variable.scss
*
$component_margin
$color_primary
$color_gray
*
*/
/**
* Specific variables (used only in this file) 
*
* None
*
**/
.am2-tabs:last-child {
  margin-bottom: 0px; }

.am2-tabs__titles {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.am2-tabs__title {
  float: left;
  cursor: pointer;
  border-right: 1px solid transparent;
  transition: all 300ms ease 0s; }
  .am2-tabs__title--current .am2-tabs__link {
    background: #fafbfb;
    border-bottom: 2px solid #39b54a; }

.am2-tabs__link {
  padding: 10px 20px;
  display: inline-block;
  background: #ecedf0;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease 0s; }
  .am2-tabs__link:hover {
    background: #fafbfb;
    border-bottom: 2px solid #39b54a; }
  .am2-tabs__link[disabled] {
    cursor: not-allowed;
    background: white; }
    .am2-tabs__link[disabled]:hover {
      background: inherit;
      border-bottom: 2px solid transparent; }

.am2-tabs__panels {
  width: 100%; }

.am2-tabs__panel {
  display: none;
  padding: 10px;
  transition: all 300ms ease 0s; }

.am2-tabs__panel--current {
  display: block; }

/*** Testimonials ***/
.testimonial__image {
  width: 18%;
  margin: 0 2% 0 0;
  border-radius: 100%; }

.testimonial__description {
  width: 77%; }

.testimonial__name {
  margin: 0;
  padding: 0; }

.testimonial__title {
  padding: 0;
  margin: 0;
  font-size: 16px; }

.testimonial__blockqoute {
  position: relative;
  display: block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  text-align: justify;
  background: #fff; }
  .testimonial__blockqoute:before {
    content: "\201C";
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 25px;
    font-size: 55px; }
  .testimonial__blockqoute:after {
    content: ""; }

/*** Video ***/
.am2-video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .am2-video__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*** Map ***/
.am2-map-box {
  position: relative;
  display: block;
  width: 100%;
  height: 400px; }

/*** WYSIWYG ***/
/* Helpers */
/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$color_secondary
$color_featured
$color_danger
$color_dark
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.effect--waves {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  /* Firefox Bug: link not triggered */ }
  .effect--waves .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(51, 51, 51, 0.5);
    transition: all 0.3s ease-out;
    transition-property: transform, opacity;
    -ms-transform: scale(0);
        transform: scale(0);
    pointer-events: none; }
  .effect--waves input[type="button"], .effect--waves input[type="reset"], .effect--waves input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none; }
  .effect--waves img {
    position: relative;
    z-index: -1; }
  .effect--waves .waves-notransition {
    transition: none !important; }
  .effect--waves .waves-circle {
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }
  .effect--waves .waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom; }
    .effect--waves .waves-input-wrapper .waves-button-input {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1; }
  .effect--waves .waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none; }
  .effect--waves .waves-block {
    display: block; }
  .effect--waves .waves-effect .waves-ripple {
    z-index: -1; }

.effect--primary .waves-ripple {
  background-color: rgba(57, 181, 74, 0.7); }

.effect--secondary .waves-ripple {
  background-color: rgba(153, 106, 255, 0.7); }

.effect--featured .waves-ripple {
  background-color: rgba(204, 125, 44, 0.7); }

.effect--danger .waves-ripple {
  background-color: rgba(178, 21, 61, 0.7); }

/**
*
* Helpers
*
**/
.left {
  float: left; }

.right {
  float: right; }

.no-margin {
  margin-right: 0px;
  margin-left: 0px; }

.no-padding {
  padding: 0px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.anchor {
  position: absolute;
  top: 48px; }

.color-primary {
  color: #39b54a; }

.color-secondary {
  color: #996AFF; }

.color-featured {
  color: #CC7D2C; }

.color-danger {
  color: #B2153D; }

.background-primary {
  background: #39b54a; }

.background-secondary {
  background: #996AFF; }

.background-featured {
  background: #CC7D2C; }

.background-danger {
  background: #B2153D; }

.fill-primary {
  fill: #39b54a; }

.fill-secondary {
  fill: #996AFF; }

.fill-featured {
  fill: #CC7D2C; }

.fill-danger {
  fill: #B2153D; }

/* Pages */
/*@import "pages/contact";*/
/* Vendor */
/* Slick Slider */
.slick-slider {
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  touch-action: auto;
  -ms-touch-action: auto; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  padding-left: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: auto;
  list-style-type: none; }
  .slick-dots li {
    display: inline-block;
    margin-right: 5px; }
    .slick-dots li button {
      text-indent: -900em;
      overflow: hidden;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      padding: 0;
      opacity: 0.6;
      transition: 0.2s ease-in-out; }
    .slick-dots li.slick-active button, .slick-dots li:hover button {
      opacity: 1; }

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  color: #fff;
  width: 40px;
  height: 40px;
  text-indent: -900em;
  overflow: hidden;
  background: transparent;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  padding: 0;
  transition: 0.2s ease-in-out;
  opacity: 0.5;
  outline: 0;
  box-shadow: none;
  background-color: transparent; }
  .slick-prev:hover,
  .slick-next:hover {
    opacity: 1;
    box-shadow: none;
    background-color: transparent; }

.slick-next {
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  right: 50px; }

.slick-prev {
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  left: 50px; }

/*** Responsive Tables ***/
@media (max-width: 640px) {
  .js-responsive-table {
    margin-bottom: 0; }
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 150px;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc; }
  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%; }
  .pinned table th,
  .pinned table td {
    white-space: nowrap; }
  .pinned td:last-child {
    border-bottom: 0; }
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc; }
  div.table-wrapper div.scrollable {
    margin-left: 150px; }
  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden; }
  .js-responsive-table td,
  .js-responsive-table th {
    position: relative;
    white-space: nowrap;
    overflow: hidden; }
  .js-responsive-table th:first-child,
  .js-responsive-table td:first-child,
  .js-responsive-table td:first-child,
  .js-responsive-table.pinned td {
    display: none; } }
