/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$color_secondary
$color_featured
$color_danger
$color_dark
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.effect {

  &--waves {
    position: relative;
    user-select: none;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;

    .waves-ripple {
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      opacity: 0;

      background: rgba($color_dark , .5);
      transition: all 0.3s ease-out;
      transition-property: transform, opacity;
      transform: scale(0);
      pointer-events: none;
    }

    // Style input button bug.
    input[type="button"], input[type="reset"], input[type="submit"] {
      border: 0;
      font-style: normal;
      font-size: inherit;
      text-transform: inherit;
      background: none;
    }

    img {
      position: relative;
      z-index: -1;
    }

    .waves-notransition {
      transition: none #{"!important"};
    }

    .waves-circle {
      transform: translateZ(0);
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    }

    .waves-input-wrapper {
      border-radius: 0.2em;
      vertical-align: bottom;

      .waves-button-input {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    .waves-circle {
      text-align: center;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      border-radius: 50%;
      -webkit-mask-image: none;
    }

    .waves-block {
      display: block;
    }

    /* Firefox Bug: link not triggered */
    .waves-effect .waves-ripple {
      z-index: -1;
    }

  }

  // Waves Colors
  &--primary .waves-ripple {
    background-color: rgba($color_primary, .70);
  }
  &--secondary .waves-ripple {
    background-color: rgba($color_secondary, .70);
  }
  &--featured .waves-ripple {
    background-color: rgba($color_featured, .70);
  }
  &--danger .waves-ripple {
    background-color: rgba($color_danger, 0.70);
  }

}
