/**
*
* Helpers
*
**/
.left {
	float: left;
}

.right {
	float: right;
}

.no-margin {
	margin-right: 0px;
	margin-left: 0px;
}

.no-padding {
    padding: 0px;
}

.text-center {
	text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.anchor {
    position: absolute;
    top: 48px;
}

.color-primary {
    color: $color_primary;
}

.color-secondary {
    color: $color_secondary;
}

.color-featured{
    color: $color_featured;
}

.color-danger {
    color: $color_danger;
}

.background-primary {
    background: $color_primary;
}

.background-secondary {
    background: $color_secondary;
}

.background-featured{
    background: $color_featured;
}

.background-danger {
    background: $color_danger;
}

.fill-primary {
    fill: $color_primary;
}

.fill-secondary {
    fill: $color_secondary;
}

.fill-featured{
    fill: $color_featured;
}

.fill-danger {
    fill: $color_danger;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.text {
    text-rendering: optimizeLegibility;

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--justify {
        text-align: justify;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--lowercase {
        text-transform: lowercase;
    }

    &--capitalize {
        text-transform: capitalize;
    }

    &--color-white {
        color: white;
    }
}

.responsive-embed {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    margin-bottom: 20px;
    overflow: hidden;

    &--widescreen {
        padding-bottom: 50.625%;
    }

    &--single {
        padding-bottom: 59.5%;

        @include breakpoint( $breakpoint_laptop ) {
            padding-bottom: 61%;
        }

        @include breakpoint( $breakpoint_desktop ) {
            padding-bottom: 62%;
        }
    }

    div[data-plugin-youtube],
    iframe,
    video,
    object,
    figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.list {
    list-style: none;
}

.col-break-mobile {

    @include breakpoint($breakpoint_mobile) {
        width: 100%;
        margin-right: 0;

        &:not(:last-child) {
            margin-bottom: $component_margin;
        }
    }
}