.page-404{

	padding-top: 110px;

	.page{

		padding-bottom: 110px;

		&__title{

			font-size: 35px;
			font-weight: 700;

		}

		&__subtitle{

			font-size: 21px;
			font-weight: 100;

		}

		&__description{

			display: block;
			margin: 0 auto $component_margin auto;

		}

		&__button{

			margin: 0 10px;

			@include breakpoint($breakpoint_small) {

				display: block;
				margin: 0 0 $component_margin/2 0;

			}

		}
		
	}

}