.blog,
.archive.author,
.archive.category {

	.section {

		&__headline {
			padding: 0 10px;
		}

		&__header {

			&:after {
				background: #e4e4e4;
			}
		}
	}
}

.archive:not(.post-type-archive-events) {

	.card {

		width: calc( (100% - #{$component_margin})/2);

		&:nth-child(2n+1) {
			margin-right: $component_margin;

			@include breakpoint($breakpoint_mobile) {
				margin-right: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: $component_margin;
		}

		@include breakpoint($breakpoint_mobile) {
			width: 100%;
			margin-right: 0;
		}

		&__meta {
            background: rgba(255, 255, 255, 0.058823529411764705);
			padding: $component_margin;

			@include breakpoint($breakpoint_small) {
				padding: $component_margin/2;
			}
		}

		&__title {
			height: $component_margin*2;
			overflow: hidden;
			display: block;

			@include breakpoint($breakpoint_small) {
				height: auto;
			}
		}

		&__media {
			margin: 0;
		}

		&__category {
			padding-top: 0;
			padding-bottom: 0;
			height: 31px;
			overflow: hidden;
		}

		&__excerpt {
			margin-top: $component_margin/2;
			font-size: 12px;
			max-height: 62px;
			overflow: hidden;
			display: block;

			@include breakpoint($breakpoint_small) {
				max-height:none;
			}
		}

		&__date {
			margin-top: $component_margin;
			font-size: 12px;
		}
	}

	.archive-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.archive__col {
		width: calc( (100% - #{$component_margin})/2);
		display: flex;
		flex-wrap: wrap;

		&:nth-child(2n+1) {
			margin-right: $component_margin;
		}

		@include breakpoint($breakpoint_desktop) {
			width: 100%;
			margin-bottom: $component_margin;

			&:nth-child(2n+1) {
				margin-right: 0;
			}
		}

		&--left {

			.card {

				&--1 {
					width: 100%;
					margin-right: 0 !important;

					.card__excerpt {
						max-height: 149px;
						height: 149px;
					}
				}

				&--2 {
					margin-right: $component_margin;

						@include breakpoint($breakpoint_mobile) {
							margin-right: 0;
						}
				}

				&--3 {
					margin-right:0;
				}
			}
		}
	}
}

// Archive related sub-templates
@import 'archive-video';
@import 'taxonomy-video';