.post-type-archive-video {
    .content--video-archive {
        padding: 35px 0 0;
    }

    .video-category {

        &:last-child {
            margin-bottom: 60px;
        }
    }
}

.latest-videos,
.video-category {
    overflow: hidden;
    margin-bottom: 20px;

    &--flexible {
        background-color: #000;;
        margin-bottom: 0;

        .section {
            &__header {
                padding: 35px 0;
                margin-bottom: 0!important;

                @include breakpoint( $breakpoint_mobile ) {
                    padding: 15px 0;
                }
            }
        }
    }

    &__item {
        @include breakpoint( $breakpoint_desktop ) {
            width: 48.5%;
            margin-right: 3%;
        }

        @include breakpoint( $breakpoint_small ) {
            width: 100%;
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: $component_margin;
            }
        }

        &:nth-child(even) {
            @include breakpoint( $breakpoint_desktop ) {
                margin-right: 0;
            }
        }
    }

    .section {

        &__header {
            margin-bottom: 25px;
        }
    }
}