.events {

	/** sections **/

	&-top {

		padding: $component_margin*2 0;
		background: $color_light_gray;

		@include breakpoint( $breakpoint_mobile ) {

			padding: $component_margin 0 $component_margin/2 0;

		}

	}

	&-listing {

		padding: $component_margin*2 0;
		background: #fff;
		
		&__container{

			display: flex;
			flex-wrap: wrap;
		}

	}

	&-submit {

		padding: $component_margin*4 0;
		background: $color_light_gray;

	}


	/** elements **/

	&-top {

		position: relative;

		&__headline {

			@include breakpoint( $breakpoint_tablet ) {

				float: none;
				width: 100%;
				text-align: center;

			}

		}

		&__form-container {

			position: relative;

		}

		&__form {

			position: relative;
			padding-top: $grid_padding/2;
			text-align: right;

			@include breakpoint( $breakpoint_tablet ) {

				float: none;
				width: 100%;
				text-align: center;

			}

			@include breakpoint( $breakpoint_mobile ) {

				padding-top: $component_margin;
	
			}

		}

		&__loading{

			position: absolute;
			z-index: 999;
			width: 18px;
			left: 50%;
			margin-left: -9px;
			bottom: -40px;
			overflow: hidden;
			max-height: 0px;
			opacity: 0;
			text-align: center;
			transition: all .2s ease-in-out;

			@include breakpoint( $breakpoint_mobile ) {

				margin-left: -7.5px;
				width: 15px;
				top: 65px;
				bottom: auto;

			}

			&.active{

				max-height: 100px;
				opacity: 1;

			}
	
		}

		&__title {

			margin: 0;
			padding: 0 0 $grid_padding 0;
			font-size: 27px;
			line-height: 27px;
			color: $color_section_title;

		}

		&__subtitle {

			font-size: 12px;
			color: $color_section_title;
			text-transform: uppercase;

		}

		&__calendar {

			position: relative;
			display: inline-block;
			width: 20vw;
			max-width: 160px;

			@include breakpoint( $breakpoint_tablet ) {

				width: 30%;
				max-width: none;

			}

			@include breakpoint( $breakpoint_mobile ) {

				width: calc( 50% - #{$grid_margin/2} );
				margin-bottom: $grid_margin/2;

				input{

					width: 100%;

				}
				
			}

			input {

				border: none;
				padding: $grid_padding $grid_margin $grid_padding $grid_margin*2;

			}

			&.active {

				input {

					background-color:$color_dark;
					color: $color_light_gray;

				}

				svg {

					use {
						fill: #fff;
					}

				}

			}

		}

		&__category {

			display: inline-block;
			width: 20vw;
			max-width: 160px;
			margin: 0 10px;
			vertical-align: top;
			
			@include breakpoint( $breakpoint_tablet ) {

				width: 30%;
				max-width: none;
				
			}

			@include breakpoint( $breakpoint_mobile ) {

				width: calc( 50% - #{$grid_margin/2} );
				margin: 0 0 $grid_margin/2 $grid_margin/2;

				input{
					width: 100%;
				}
				
			}

			.selectize-control{

				line-height: 15px;

				.selectize-input{

					border: none;
					padding: $grid_padding 12px;
					font-size: 12px;
				}

			}

		}

		&__search{

			position: relative;
			display: inline-block;
			width: 20vw;
			max-width: 270px;

			@include breakpoint( $breakpoint_tablet ) {

				width: 30%;
				max-width: none;
				
			}

			@include breakpoint( $breakpoint_mobile ) {

				width: 100%;
				margin: 0;

				input{
					width: 100%;
				}
				
			}

			input{

				border: none;
				padding: $grid_padding $grid_margin*2 $grid_padding $grid_padding;

			}

			button{

				position: absolute;
				right: 0;
				top: 0;
				padding: $grid_padding/2;
				background: none;
				outline: none;

				&:hover{

					svg{

						fill: $color_border;

					}

				}

			}
		}

		&__clear{

			position: relative;
			display: none;

			&.active{

				display: block;
				margin-top: $grid_padding;
				font-size: 12px;

			}

		}

		&__icon{

			position: absolute;

			width: 16px;
			height: 16px;

			&--calendar{

				left: $grid_padding;
				top: $grid_padding;

			}

			&--search{

				right: $grid_padding/2;
				top: $grid_padding;

			}

			&--clear{

				position: relative;
				display: inline-block;
				margin-left: $grid_padding/3;
				width: 10px;
				height: 10px;

			}
		}

		

	}

	&-submit {

		text-align: center;

		&__title {

			margin: 0 0 $grid_margin 0;
			font-weight: 500;

		}

		&__text {

			display: block;
			margin: 0 0 $grid_margin*2 0;
			font-size: 12px;

		}

		&__cta {

			text-transform: uppercase;
			background: #fff;
			border: 1px solid $color_border;

		}

	}

}