.event{

	&-top{

		padding: $component_margin*2 0 $component_margin*6 0;
		background: $color_light_gray;

	}

	&-post{

		position: relative;
		margin: -($component_margin*7) 0 0 0;
		background: #fff;

		@include breakpoint( $breakpoint_desktop ) {

			padding: $grid_padding;

		}

		@include breakpoint( $breakpoint_tablet ) {

			padding: $grid_padding/2;

		}

		@include breakpoint( $breakpoint_mobile ) {

			padding: 0;

		}

		&__badge{

			display: inline-block;
			margin: -$grid_margin*3 0 $grid_padding/2 0;
			padding: $grid_padding/3 $grid_padding;
			border-radius: 10px;
			background: $color_dark;
			vertical-align: middle;

			font-size: 12px;
			line-height: 22px;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;

			svg{
				margin: -3px $grid_padding/2 0 0;
				width: 14px;
				height: 14px;
				
				use{
					fill: #fff;
				}
			}

		}

		&__media{

			position: relative;
			float: left;
			width: calc( 40% - #{$component_margin} );
			margin: $component_margin;
			margin-right: 0;

			@include breakpoint( $breakpoint_desktop ) {

				float: none;
				width: calc( 100% - #{$component_margin*2} );
				margin: $component_margin;

			}

			@include breakpoint( $breakpoint_tablet ) {

				width: calc( 100% - #{$component_margin} );
				margin: $component_margin/2;
	
			}

			img{

				width: 100%; 
				padding-right: 100px;

			}

		}

		&__content{

			float: left;
			width: calc( 60% - #{$component_margin*2} );
			margin: $component_margin;

			@include breakpoint( $breakpoint_desktop ) {

				width: calc( 100% - #{$component_margin*2} );

			}

			@include breakpoint( $breakpoint_tablet ) {

				width: calc( 100% - #{$component_margin} );
				margin: $component_margin/2;
	
			}

		}

		&__category{

			display: block;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
			margin: 0 0 $grid_padding 0;

		}

		&__title{

			font-size: 27px;
			font-weight: 500;
			margin: 0 0 $component_margin*2 0;

		}

		&__date{

			font-size: 22px;

		}

		&__label{

			margin: 0 0 $component_margin/2 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 14px;
			text-transform: uppercase;
	
		}

		&__location {

			margin: 0 0 $component_margin 0;
			font-size: 12px;
			line-height: 22px;

			&-name{

				font-weight: 600;
				margin: 0;
	
			}
	
			&-address{
	
				margin: 0;
	
			}

			&-cta{
	
				color: $color_link_accent;
	
			}

		}

		&__text{

			font-size: 14px;
			line-height: 24px;

		}

		&__cta{

			padding: $grid_padding $grid_padding * 2;
			font-size: 14px;
			line-height: 14px;
			color: $color_light_gray;

		}

		.social__link{

			background: $color_dark;
			fill: $color_light_gray;

		}

	}

	&__date-box{

		position: absolute;
		right: 0;
		top: 0;

	}

	&__map{
		margin: 0 0 0 0;
		margin-bottom: $component_margin;
		width: 100%; 
		height: 370px; 
		background: #eee; 
	}

	&-related{
		
		margin: $component_margin*3 0 0 0;

	}

	.events-submit{

		margin-top: $component_margin*5;

	}

}