.page-template-page-landing {
    .site-container {
        padding-top: 0;
        min-height: 100vh;
        background: #202020;
    }

    .wrapper {
        max-width: 400px;
    } 

    .container {
        @include breakpoint( $breakpoint_small ) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.locations-select {
    margin: 0 0 85px;

    @include breakpoint( $breakpoint_mobile ) {
        margin: 0 0 35px;
    }

    &__headline {
        display: block;
        margin-bottom: 30px;
        color: gray;

        @include breakpoint( $breakpoint_mobile ) {
            margin: 0 0 15px;
        }
    } 
}

.landing-locations {
    max-width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0 0;

    @include breakpoint( $breakpoint_mobile ) {
        padding-left: 30px;
    }

    &__item {
        position: relative;
        margin-bottom: 5px;

        &--global {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -30px;
                right: 0;
                border-top: 1px solid rgba(255, 255, 255, .1);
            }

            .landing-locations {
                &__item {
                    &-link {
                        padding-top: 20px;

                        .svg-icon {
                            margin-top: 2px;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            } 
        }

        &-link {
            position: relative;
            display: inline-block;
            color: white;
            font-weight: 500;
            font-size: 15px;
            text-transform: uppercase;
            padding: 13px 0; 

            @include breakpoint( $breakpoint_mobile ) {
                padding: 10px 0;
            }

            &:hover {
                color: white;
                opacity: .6;
            }

            .svg-icon {
                display: block;
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                margin-right: 12px;
                fill: gray;
            }
        }
    }
}