.search-results {
    padding-top: $component_margin;

    .search {
        &-section {
            padding: 0 0 $component_margin*2 0; 

            &:nth-child(odd) {
                background: #f8f8f8;

                .section {
                    &__header {
                        margin-top: 20px;
                    }

                    &__more,
                    &__headline {
                        background: #f8f8f8;
                    }
                }
            }

            &__more {
                margin-top: 55px;
            }
        }

        &__results {
            color: #7a7a7a;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: $component_margin;
        } 

        &__item {

            &:nth-child(n+4) {
                margin-top: 1.68776%;
            } 

            @include breakpoint( $breakpoint_desktop ) {
                width: 49.15612%;

                &:nth-of-type(3n) {
                    margin-right: 1.68776%;
                }

                &:nth-of-type(2n) {
                    margin-right: 0px;
                }

                &:nth-child(n+3) {
                    margin-top: 1.68776%;
                }
            }

            @include breakpoint( $breakpoint_small ) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 10px;
                
                &:nth-of-type(3n),
                &:nth-of-type(2n) {
                    margin-right: 0;
                }

                &:nth-child(n+3) {
                    margin-top: 0;
                }

                &:last-child() {
                    margin-bottom: 0;
                }
            }

            &--post {

                .card {
                    display: flex;
                    height: 100%;

                    @include breakpoint($breakpoint_tablet) {
                        flex-direction: column;
                    }

                    > a {
                        flex-basis: 50%;
                        min-width: 170px;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    &__title {
                        height: 40px;
                        overflow: hidden;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    &__meta {
                        padding: 10px $component_margin;
                        flex: 1;
                        background: #fff;
                        flex-basis: 40%;

                        @include breakpoint($breakpoint_desktop) {
                            padding: $component_margin/2;
                        }
                    } 

                    &__category {
                        padding-top: 0;
                    }
                }
            }

            &--video { 
    
                @include breakpoint( $breakpoint_tablet ) {
                    display: block; 
                }
    
                @include breakpoint( $breakpoint_small ) {
                    width: 100%;
                    margin-right: 0 !important;
    
                    &:nth-child(n+2) {
                        margin-top: $component_margin/2;
                    }
                }

                .video-block {

                    &__container {
                        display: flex;

                        @include breakpoint( $breakpoint_tablet ) {
                            flex-direction: column;
                        }

                        .col-12 {
                            width: 100%;
                            float: none;
                            margin: 0;
                        }

                    }

                    &__object {
                        margin-right: 0;

                        &--16by9 {
                            padding-bottom: 66%;
                        }
                    }

                    &__title {
                        font-size: 14px;
                    }

                    &__content {
                        padding: 10px $component_margin;
                        flex: 1;
                        background: #fff;
                        flex-basis: 50%;

                        @include breakpoint($breakpoint_desktop) {
                            padding: $component_margin/2;
                        }
                    }

                    &__figure {
                        flex-basis: 50%;
                    }
                }
            }  
        }
    }
}

.content {
    &--search {
        &-post,
        &-video {
            .search-section {
                padding-bottom: 0;
            }
        }
    }
}