body.single-post{


	/** layout **/

	.single-post__left{

		overflow: hidden;

		@include breakpoint( $breakpoint_tablet ) {
			float: none;
			width:100%;
		}

	}

	.single-post__right {

		@include breakpoint( $breakpoint_desktop ) {
			width: 32.20816%;
		}

		@include breakpoint( $breakpoint_tablet ) {
			float: none;
			width:100%;
		}

	}


	/** elements **/

	.post {

		margin: $component_margin*3 $component_margin*4;

		@include breakpoint( $breakpoint_desktop ) {
			margin: $component_margin;
		}

		@include breakpoint( $breakpoint_mobile ) {
			margin: $component_margin / 2;
		}

	}

	.sidebar {

		margin: $component_margin*3 0;

		@include breakpoint( $breakpoint_tablet ) {
			padding: $component_margin;
			margin: 0;
		}

		@include breakpoint( $breakpoint_mobile ) {
			padding: $component_margin / 2;
		}

	}

	.latest-articles{

		padding: $component_margin*3 0;
		background: darken($color_light_gray,5%);

		@include breakpoint( $breakpoint_tablet ) {
			padding: $component_margin;
		}

		@include breakpoint( $breakpoint_mobile ) {
			padding: $component_margin / 2;
		}

		&__title{

			margin: 0;
			padding: 0 0 $grid_padding*3 0;
			font-size: 14px;
			font-weight: 700;
			color: $color_section_subtitle;
			text-transform: uppercase;

		}

		.article{

			margin-top: 0;

		}

	}

	.single-related {
		padding: 60px 0;

		@include breakpoint($breakpoint_tablet) {
			padding-bottom: 10px;
		}
	}
}