.single-video {
    .header--site {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.video-player {
    background-color: #000;

    .col-23,
    .col-13 {
        @include breakpoint( $breakpoint_tablet ) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        z-index: 10;
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
    }

    &__duration {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0,-50%,0);
        background-color: rgba( #000000, .8 );
        padding: 2.5px 11px;
        border-radius: 2px;
        color: white;
        font-size: 12px;
        z-index: 15;
    }

    &__header {
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;

        &-link {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate3d(0,-50%,0);
            font-size: 12px;
            color: white;

            &:hover {
                color: white;
            }

            .video-player__header--related & {
                color: #fff;
            }
        }
    }

    &__headline {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0;

        a {
            color: inherit;
        }
    }

    &__media {
        margin-bottom: 45px;

        @include breakpoint( $breakpoint_tablet ) {
            margin-bottom: 10px;
        }
    }

    &__placeholder {
        position: relative;
        overflow: hidden;

        &-src {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-height: calc(100% + 100px);
            max-width: calc(100% + 100px);
            object-fit: cover;
        }
    }

    &__related {
        @include breakpoint( $breakpoint_tablet ) {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            margin-bottom: 25px;
        }

        @include breakpoint( $breakpoint_mobile ) {
            display: block;
        }

        .video-block--side {
            @include breakpoint( $breakpoint_tablet ) {
                width: 100%;
                max-width: 48%;
                flex: 0 0 48%;
            }

            @include breakpoint( $breakpoint_mobile ) {
                max-width: 100%;
            }


        }
    }
}

.video-content {
    padding-bottom: 60px;

    @include breakpoint( $breakpoint_mobile ) {
        padding-bottom: 35px;
    }

    .container--flex {
        position: relative;
    }

    .col-23,
    .col-13 {
        @include breakpoint( $breakpoint_tablet ) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__meta {
        margin-bottom: 25px;
        color: #fff;
        font-size: 12px;

        &-views {
            display: inline-block;
            margin-left: 10px;
            color: #5d5d5d;
        }
    }

    &__header,
    &__text {
        padding-left: 60px;

        @include breakpoint( $breakpoint_mobile ) {
            padding-left: 0;
        }
    }

    &__entry {
        height: 100%;

        @include breakpoint( $breakpoint_tablet ) {
            padding-bottom: 130px;
        }

        @include breakpoint( $breakpoint_mobile ) {
            padding-bottom: 0;
        }
    }

    &__header {
        padding-top: 25px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        line-height: 44px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: $font_family_2;

        @include breakpoint( $breakpoint_mobile ) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__cat {
        font-size: 12px;
        font-weight: 900;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__text {
        line-height: 24px;

        @include breakpoint( $breakpoint_tablet ) {
            padding-bottom: 35px;
        }
    }

    &__sharing {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 50px;

        @include breakpoint( $breakpoint_mobile ) {
            position: relative;
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
}

.from-same-author {
    margin-top: -40px;

    @include breakpoint( $breakpoint_tablet ) {
        margin-top: -115px;
        padding-left: 60px;
    }

    @include breakpoint( $breakpoint_mobile ) {
        margin-top: 0;
        padding-left: 0;
    }

    &__header {
        position: relative;
    }

    &__headline {
        font-size: 14px;
        font-weight: bold;
        color: #7a7a7a;
        text-transform: uppercase;
    }

    &__more {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(0,-50%,0);
        font-size: 12px;
        color: #202020;

        &:hover {
            color: #000;
        }
    }

    &__list {
        @include breakpoint( $breakpoint_tablet ) {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
        }

        @include breakpoint( $breakpoint_mobile ) {
            display: block;
        }

        .video-block--side {
            @include breakpoint( $breakpoint_tablet ) {
                width: 100%;
                max-width: 48%;
                flex: 0 0 48%;
                margin-bottom: 0;
            }

            @include breakpoint( $breakpoint_mobile ) {
                max-width: 100%;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.video-may-like {
    padding: 0 0 90px;

    @include breakpoint( $breakpoint_desktop ) {
        padding: 0 0 40px;
    }

    @include breakpoint( $breakpoint_mobile ) {
        padding: 0 0 10px;
    }

    .section {
        &__header {

            @include breakpoint( $breakpoint_mobile ) {
                padding: 30px 0 25px;
            }

            &::after {
                content: none;
            }
        }

        &__headline {
            background: transparent;
            color: #fff;
        }
    }
}

div[data-plugin-youtube] {
    position: relative;
    background-color: #000000;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba( #000000, .95 );
        z-index: 10;
        transition: $transition;
        transition-delay: 800ms;
        opacity: 1;
    }

    &.loaded {

        &::before {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.has-very-dark-gray-color.has-very-dark-gray-color {
    color: #fff;
}