.page-template-page-submit-event { 
	background: $color_light_gray; 
}

.submit-event { 

	max-width: 570px;
	margin: $component_margin*2 auto $component_margin*6 auto;

	@include breakpoint($breakpoint_mobile) {

		padding: $grid_padding;

	}

	&__title { 
		
		border: none !important;

		h2 { 

			font-size: 22px !important;
			line-height: 28px !important;
			font-weight: 400 !important; 

		} 

	}

	&__loading{

		max-height: 0;
		overflow: hidden;
		opacity: 0;
		text-align: center;
		transition: all .2s ease-in-out;

		&.active{
			max-height: 100px;
			opacity: 1;
		}

	}

	/** GF overrides **/

	.gform_wrapper{

		// floaters left
		.gf_left_half{

			width: 48% !important;

			@include breakpoint( $breakpoint_tablet ) {

				width: 100% !important;

			}

		}

		// floaters right
		.gf_right_half{

			margin-left: 4% !important;
			width: 48% !important;

			@include breakpoint( $breakpoint_tablet ) {

				margin-left: 0 !important;
				width: 100% !important;

			}

		}

		.gf_left_third{

			margin-left: 4% !important;

			@include breakpoint( $breakpoint_tablet ) {

				margin-left: 0 !important;

			}
		}

		.gf_middle_third{

			margin-left: 1.5% !important;
			margin-right: 1.5% !important;

		}

		.gf_left_third,
		.gf_middle_third,
		.gf_right_third{

			width: 15% !important;

			@include breakpoint( $breakpoint_tablet ) {

				width: 32.2% !important;
				margin-bottom: $grid_margin !important;
				float: left !important;
				clear: none !important;

			}

			.ginput_container{

				margin-top: 12px !important;

				@include breakpoint( $breakpoint_tablet ) {

					margin-top: 0 !important;

				}

				select{
					line-height: 20px;
				}

			}

		}


		.is-name{

			.name_first,
			.name_last{

				label{

					@include breakpoint( $breakpoint_mobile ) {

						left: -2px !important;

					}

				}

			}

		}

		// file upload fields
		.is-upload {

			.ginput_container{

				&:after{

					background: #fff;

				}

			}
			input[type="file"]{

				width: 75%;

			}

		}

		// dropdowns with .is-selectize class on GF field
		.is-selectize {

			.ginput_container{

				position: relative;

				&:before{
					position: absolute;
					z-index: 10;
					top: $grid_margin; 
					right: $grid_padding;
					content: '\25BE';
					font-size: 20px;
					line-height: 10px;
				}

			}

			select{

				width: 100% !important;
				appearance: none;
				padding: $grid_padding;
				border: none;
				border-radius: 0;
				background: #fff;
				outline: none;

				

			}

		}

	}

}