/* .tax-video_category {

} */

.content--video-category {
    padding: 120px 0;

    @include breakpoint( $breakpoint_laptop ) {
        padding: 90px 0;
    }

    @include breakpoint( $breakpoint_tablet ) {
        padding: 60px 0;
    }

    @include breakpoint( $breakpoint_mobile ) {
        padding: 0;
    }

    &.has-pagination {
        padding-bottom: 0;
    }
}

.video-category {

    &__header {
        margin-bottom: 120px;

        @include breakpoint( $breakpoint_laptop ) {
            margin-bottom: 90px;
        }

        @include breakpoint( $breakpoint_tablet ) {
            margin-bottom: 60px;
        }

        .col-12 {
            @include breakpoint( $breakpoint_tablet ) {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    &__name {
        font-size: 38px;
        font-weight: bold;
        line-height: 38px;
    }

    &__description {
        line-height: 24px;

        @include breakpoint( $breakpoint_tablet ) {
            margin-bottom: 30px;
        }

        @include breakpoint( $breakpoint_mobile ) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__featured {
        position: relative;
        overflow: hidden;

        img {
            height: auto;
            width: auto;
        }
    }
}