.terms{

	padding: $grid_margin*6 0;

	@include breakpoint( $breakpoint_desktop ) {

		padding: $grid_margin 0;

	}

	/*** left/right panels */

	&__left {

		@include breakpoint( $breakpoint_desktop ) {

			float: none;
			width: 100%;
			margin-bottom: $grid_margin*2;

		}

	}

	&__right {

		@include breakpoint( $breakpoint_desktop ) {

			float: none;
			width: 100%;

		}

	}


	/*** main title */

	&__head {

		display: block;
		max-width: $sidebar_width;
		margin: 0 0 $grid_margin*2 0;
		padding: 0 $grid_padding*2;
		font-weight: 700;
		font-size: 38px;
		color: $color_section_title;

		@include breakpoint( $breakpoint_desktop ) {

			max-width: 100%;
			margin: 0 0 $grid_margin 0;
			padding: 0 $grid_padding;

		}

	}


	/*** titles content */

	&__title {

		float: none;
		display: block;
		padding: $grid_padding $grid_padding*2;
		font-size: 14px;
		color: $color_section_dark;
		margin-right: $component_margin*2;

		@include breakpoint( $breakpoint_desktop ) {
			margin-right: 0;
			padding: $grid_padding $grid_padding;
		}

		&:hover {

			color: $color_brand;

		}

		&.am2-tabs__title--current {

			background: $color_light_gray;
			border-radius: $border_radius;

		}
	}

	/*** panel content */

	&__panel {

		&-title {

			margin: -$grid_margin 0 $grid_margin 0;
			font-size: 22px;
			line-height: 32px;
			color: $color_section_title;

		}

		&-text {

			font-size: 14px;
			line-height: 24px;
			color: $color_section_text;

			ul {

				list-style-type: none;

				li {

					text-indent: -10px;

					&:before {

						text-indent: -10px;
						content: '- ';

					}

				}

			}

			ol {

				list-style-type: upper-alpha;

			}

		}

	}
}