<div class="page">

	{% if page_title|trim %}
	<h1 class="page__title">{{ page_title|trim }}</h1>
	{% endif %}

	{% if page_subtitle|trim %}
	<h2 class="page__subtitle">{{ page_subtitle|trim }}</h2>
	{% endif %}

	{% if page_text|trim %}
	<p class="page__description">{{ page_text|trim }}</p>
	{% endif %}

	{% if home_label|trim %}
	<a class="page__button button button--dark" href="{{ home_url }}">{{ home_label|trim }}</a>
	{% endif %}

	{% if contact_us_url|trim %}
	<a class="page__button button button--bordered" href="{{ contact_us_url }}">{{ contact_us_label|trim }}</a>
	{% endif %}
	
</div>