<div class="section section--accordion accordion">
    <div class="wrapper">
        <div class="container">
            <div class="col-1">
                <div id="am2-accordion-{{ block_position }}" class="am2-accordion">
                {% for key,element in accordion %}
                    <div class="am2-accordion__panel">
                        <h3 class="am2-accordion__panel-title">
                            {{ element.title }}
                            <svg class="svg-arrow--down am2-accordion__toggle-icon">
                                <use xlink:href="{{ AM2_SPRITEPATH ~ '#arrow--down' }}"></use>
                            </svg>
                        </h3>
                        <div class="am2-accordion__panel-content">
                            {{ element.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <script>
                $( document ).ready( function() {
                    var args = {
                        "blockId": "am2-accordion-{{ block_position }}"
                    };   
                    am2.main.accordion( args );
                });
            </script>
            </div>
        </div>
    </div>
</div>