<div class="section section--entry-showcase entry-showcase entry-showcase--{{ options.layout }}">
    <div class="wrapper">
        <div class="container">
            {% set counter = articles|length %}
            {% set column_class = 'col-1' ~ options.per_row %}
            {% if counter == 2 %}{# if is smaller than default make it 2 #}
            {% set column_class = 'col-12' %}
            {% endif %}
            {% set layout_class = 'col-12' %}
            {% if options.layout == 'vertical' %}
            {% set layout_class = 'col-1' %}
            {% endif %}
            {% for article in articles %}
                {% if article.image is empty %}
                {% set layout_class = 'col-1' %}
                {% endif %}
            <article class="entry-showcase__item entry-item {{ column_class }}">
                <div class="wrapper">
                    <div class="container">
                        {% if article.image %}
                        <div class="entry-item__column {{ layout_class }}">
                            {% if options.linked and article.buttons[0].button.url %}
                            <a href="{{ article.buttons[0].button.url }}">{{ article.image }}</a>
                            {% else %}
                            {{ article.image }}
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="entry-item__column {{ layout_class }}">
                            <h2 class="entry-item__title">
                                {% if options.linked and article.buttons[0].button.url %}
                                <a href="{{ article.buttons[0].button.url }}">{{ article.title }}</a>
                                {% else %}
                                {{ article.title }}
                                {% endif %}
                            </h2>
                            {% if article.date %}
                            <time class="entry-item__date" datetime="{{ article.date.gmt }}">{{ article.date.human }}</time>
                            {% endif %}
                            {% if article.excerpt %}
                            <div class="entry-item__description">{{ article.excerpt }}</div>
                            {% endif %}
                            {% if article.buttons %}
                            {% include 'button-group.twig' with {
                                modifiers: 'entry-showcase',
                                type: options.buttons.type,
                                buttons: article.buttons
                            } %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>