<div class="section section--button-group button-group">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            <div class="col-1 button-group__wrapper">
                {% for key, item in buttons %} 
                {% set btn_class = ['button-group__item', 'button'] %}
                {% set type = item.button.type == 'default' ? 'primary' : item.button.type %}
                {% set btn_class = btn_class|merge(['button--' ~ type]) %}  
                <a href="{{ item.button.link }}"
                    {% if item.button.target == true %} target="_blank"{% endif %}
                    class="{{ btn_class|join(' ') }}">{{ item.button.label }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>