<div class="card {% if className %} {{ className }} {% endif %}">

	{% if thumb %}

		{% if permalink %} <a href="{{ permalink }}"> {% endif %}
			<figure class="card__media">
				{{ thumb }}
				{% if hasVideo == 1 %}
					{% include 'svg-icon.twig' with { modifiers: 'card__media-badge', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#icon--play-circle' } %}
				{% endif %}
				{% if hasGallery == 1 %}
					{% include 'svg-icon.twig' with { modifiers: 'card__media-badge', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--photo' } %}
				{% endif %}
				{% if isFeatured == 1 %}
					<div class="card__media-label">
						{% include 'svg-icon.twig' with { modifiers: '', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--star' } %}
						featured
					</div>
				{% endif %}
			</figure>
		{% if permalink %} </a> {% endif %}

	{% endif %}

	<div class="card__meta">

		{% if dateBox %}
			{% include 'components/date-box.twig' with {'className': 'card__date-box', 'months': dateBox.month_range, 'days': dateBox.day_range } only %}
		{% endif %}

		{% if category.name and category.permalink %}
			<a class="card__category" href="{{ category.permalink }}" style="color: {{ category.color }};">
				{{ category.name }}
			</a>
		{% else %}
			<span class="card__category" href="#">
				
			</span>
		{% endif %}

		{% if title and permalink %}
			<a  href="{{ permalink }}">
				<h4 class="card__title">
					{{ title }}
				</h4>
			</a>
		{% endif %}

		{% if content %}
			<div class="card__excerpt">{{ content }}</div>
		{% endif %}

		{% if date %}
			<div class="card__date">{{ date }}</div>
		{% endif %}

		{% if location %}
			<div class="card__location">{{ location.address }}, {{ location.city }}</div>
		{% endif %}

	</div>

</div>