<div class="section section--code code">
    <div class="wrapper">
        <div class="container">
            <div class="col-1">
                <pre class="code__content">{{ code }}</pre>
            </div>
        </div>
    </div>
</div>