{% set class = [ 'section', 'section--am2-columns', 'am2-columns' ] %}
{% set class = class|merge([ 'am2-columns--has-' ~ column_count ]) %}
<div class="{{ class|join(' ') }}">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper"> 
        {% if headline %}
        <div class="container">
            <h3 class="am2-columns__headline">{{ headline }}</h3>
        </div>
        {% endif %}
        <div class="container"> 
            {% for key, item in columns %}
            <div class="col-1{{ column_count }}">
                {{ item.html }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
