
<div class="section section--double-column double-column">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            <div class="col-12">
                {{ render.left_column }}
            </div>
            <div class="col-12">
                {{ render.right_column }}
            </div> 
        </div>
    </div>
</div>
