<div class="section section--entry-hero padding-none"> 
    <div class="am2-entry-hero padding-large"{% if background %}
        style="background-image: url('{{ background }}');"{% endif %}>
        <div class="wrapper">
            <div class="container">
                <div class="col-1">
                {% if headline %}
                    <h1 class="am2-entry-hero__headline">{{ headline }}</h1>
                {% endif %}
                {% if subline %}
                    <h6 class="am2-entry-hero__subline">{{ subline }}</h6>
                {% endif %}
                {% if description %}
                    <p class="am2-entry-hero__description">{{ description }}</p>
                {% endif %}
                </div>
            </div>
        </div> 
    </div>
</div>