<div class="section section--featured-videos featured-videos featured-videos">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            <div class="section__header">
                <h2 class="section__headline">{{ headline }}</h2>
                {% if link %}
                <a href="{{ link.url }}" class="section__more"{% if link.target == '_blank' %} target="_blank"{% endif %}>{{
                    link.title
                }}</a>
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% if two_or_less %}
                {% for key, items in columns %}
                    {% for key, item in items %}
                        <div class="col-12 col-break-mobile">
                            {% include 'video-block.twig' with { post: item } %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for key, items in columns %}
                    <div class="col-12 col--{{ key }}">
                        {% set column = ['featured-videos__item', key == 'right' ? 'col-12' : 'col-1' ] %}
                        {% for key, item in items %}
                        <div class="{{ column|join(' ') }}">
                            {% include 'video-block.twig' with { post: item } %}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>