<div class="section section--files files">
    <div class="wrapper">
        <div class="container">
            <div class="col-1">
                <div class="am2-files">
                {% for file in files %}
                    <article class="am2-file col-12">
                        {% if file.type != 'NA' %}
                            <h3 class="am2-file__name">{{ file.name }}</h3>
                            <div class="am2-file__description">{{ file.description }}</div>
                            <a href="{{ file.url }}" class="am2-file__link">
                                <svg class="svg-arrow--down am2-file__icon">
                                    <use xlink:href="{{ AM2_SPRITEPATH ~ '#icon--download' }}"></use>
                                </svg> 
                                {{ button.label }} <span>({{ file.size }})</span>
                            </a>
                        {% else %}
                            <a href="#" class="am2-file__link" target="_blank">NA</a>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>