<div class="am2-gallery am2-gallery--thumbnails">
	{% for image in images %}
		<figure class="{{ column_class }} am2-gallery__image">
			<a href="{{ image.image_object.sizes.large }}" rel="gallery-{{ block_position }}">
				<figure>
                    {{ image.image_html }}
                </figure>
			</a>
		</figure>
	{% endfor %}
</div>