<figure class="am2-image{% if modifiers %} {{modifiers}}{% endif %}" itemscope="" itemtype="http://schema.org/ImageObject">
    {% if inline == 'true' %}
        <div class="am2-image__bg" style="background-image: url('{{ image.object.url }}');"></div>
        <meta itemprop="image" content="{{ image.object.url }}"/>
    {% else %}
        {{ image.html }}
    {% endif %}
    {% if image.caption %}
        <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
</figure>