<div class="section section--latest-news latest-news">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            {% set column = ['col'] %}
            {% if per_row == 2 %}
                {% set column = column|merge(['col-12']) %}
            {% elseif per_row == 3 %}
                {% set column = column|merge(['col-13']) %}
            {% elseif per_row == 4 %}
                {% set column = column|merge(['col-14']) %}
            {% endif %}
            {% if latest_news|length < 2 %}
                {% set column = column|merge(['col-1']) %}
            {% endif %}
            {% for item in latest_news %}
            <div class="{{ column|join(' ') }}">
                {% include 'news-item.twig' with {
                    modifiers: 'latest-news__item',
                    link: item.link,
                    featured_image: item.featured_image,
                    title: item.title,
                    date: item.date,
                    categories: item.categories
                } %}
            </div>
            {% endfor %}
        </div>
    </div>  
</div>