<div class="section section--latest-news latest-news latest-news">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            <div class="section__header"> 
                <h2 class="section__headline">{{ headline }}</h2>
                {% if link %}
                <a href="{{ link.url }}" class="section__more"{% if link.target == '_blank' %} target="_blank"{% endif %}>{{ 
                    link.title 
                }}</a>
                {% endif %}
            </div>
        </div>
        <div class="container">
             {% for key, items in columns %}
            <div class="col-12 col--{{ key }}"> 
                {% set column = ['latest-news__item', key == 'right' ? 'col-12' : 'col-1' ] %} 
                {% for key, item in items %}
                <div class="{{ column|join(' ') }}">
                    {% include 'news-block.twig' with { post: item } %}
                </div>
                {% endfor %}
            </div>
            {% endfor %} 
        </div>
    </div>  
</div>