<div class="section section--latest-videos latest-videos latest-videos--flexible">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            <div class="section__header"> 
                <h2 class="section__headline">{{ headline }}</h2>
                {% if link %}
                <a href="{{ link.url }}" class="section__more"{% if link.target == '_blank' %} target="_blank"{% endif %}>{{ 
                    link.title 
                }}</a>
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% set column = ['latest-videos__item', 'col-14'] %} 
            {% for key, item in videos %}
            <div class="{{ column|join(' ') }}">
                {% include 'video-block.twig' with { post: item } %}
            </div>
            {% endfor %}
        </div>
    </div>  
</div>