<div class="section section--gmap gmap">
	<div id="am2-map-{{ block_position }}" class="am2-map"></div>
	<script>
		$( document ).ready( function() { 

			var args = {
				"blockId": "am2-map-{{ block_position }}",
				"lat": "{{ map.lat }}",
				"lng": "{{ map.lng }}",
				"address": "{{ map.address }}"
			};

			am2.main.loadScript( 'google-map', 'https://maps.googleapis.com/maps/api/js?key={{ map.api_key }}', function() {
				return am2.main.googleMap( args );
			});
		});
	</script>
</div>