<article class="news-item{% if modifiers %} {{ modifiers }}{% endif %}" itemscope="" itemtype="http://schema.org/CreativeWork">
    <a class="news-item__link" href="{{ link }}">
    {% include "image.twig" with { modifiers: 'am2-image--news', image: featured_image } %}
    </a>
    <div class="news-item__content">
        <h2 class="news-item__title" itemprop="headline">
            <a class="news-item__link" href="{{ link }}">{{ title }}</a>
        </h2> 
        <div class="news-item__meta">
            <span class="news-item__meta-item">
                <time class="news-item__date" datetime="{{ date.gmt }}">{{ date.human }}</time>
            </span>
            {% if categories %}
            <span class="news-item__meta-item">
                {% include 'svg-icon.twig' with { modifiers: 'svg-icon--news-tag', href: AM2_SPRITEPATH ~ '#icon--tag' } %}
                <span>{{ categories }}</span>
            </span>
            {% endif %}
        </div>
    </div>
</article>