{% set classes = ['card'] %}
{% if post.className %}
{% set classes = classes|merge([post.className]) %}  
{% endif %}
<div class="{{ classes|join(' ') }}"> 
	{% if post.thumb %} 
		{% if post.permalink %}<a href="{{ post.permalink }}" title="{{ post.title }}">{% endif %}
			<figure class="card__media">
				{{ post.thumb }}
				{% if post.hasVideo == 1 %}
					{% include 'svg-icon.twig' with { modifiers: 'card__media-badge', href: AM2_SPRITEPATH ~ '#icon--play-circle' } %}
				{% endif %}
				{% if post.hasGallery == 1 %}
					{% include 'svg-icon.twig' with { modifiers: 'card__media-badge', href: AM2_SPRITEPATH ~ '#mix--photo' } %}
				{% endif %}
				{% if post.isFeatured == 1 %}
					<div class="card__media-label">
						{% include 'svg-icon.twig' with { modifiers: '', href: AM2_SPRITEPATH ~ '#mix--star' } %}
						featured
					</div>
				{% endif %}
			</figure>
		{% if post.permalink %}</a>{% endif %} 
	{% endif %} 
	<div class="card__meta"> 
		{% if post.dateBox %}
			{% include 'components/date-box.twig' with {'className': 'card__date-box', 'months': post.dateBox.month_range, 'days': post.dateBox.day_range } only %}
		{% endif %} 
		{% if post.category.name and post.category.permalink %}
			<a class="card__category" href="{{ post.category.permalink }}" title="{{ post.category.name }}"
				{% if post.category.color %} style="color: {{ post.category.color }};"{% endif %}>{{ 
					post.category.name 
			}}</a>
		{% else %}
			<span class="card__category"></span>
		{% endif %} 
		{% if post.title and post.permalink %}
			<a href="{{ post.permalink }}"><h4 class="card__title" title="{{ post.title }}">{{ post.title }}</h4></a>
		{% endif %}
		{% if post.content %}
			<div class="card__excerpt">{{ post.content }}</div>
		{% endif %}
		{% if post.date %}
			<div class="card__date">{{ post.date }}</div>
		{% endif %}
		{% if post.location %}
			<div class="card__location">{{ post.location.address }}, {{ post.location.city }}</div>
		{% endif %}
	</div>
</div>