<div class="pagination">
    <div class="pagination__wrap">
        {% if pagination.prev %}
            <a href="{{pagination.prev.link}}" class="pagination__prev{{ pagination.prev.link|length ? '' : ' invisible' }}">
                <span class="pagination__icon pagination__icon--prev">
                    {# {% include 'svg-icon.twig' with { href: constant( 'AM2_SPRITEPATH' ) ~ '#arrow--left' } %} #}
                    &#10094;
                </span>
                <span class="pagination__label">{{ __( 'Previous Page', 'am2' ) }}</span>
            </a>
        {% endif %}
        <ul class="pagination__list">
            {% for page in pagination.pages %}
                <li class="pagination__page">
                    {% if page.link %}
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    {% else %}
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if pagination.next %}
            <a href="{{ pagination.next.link }}" class="pagination__next{{ pagination.next.link|length ? '' : ' invisible' }}">
                <span class="pagination__label">{{ __( 'Next Page', 'am2' ) }}</span>
                <span class="pagination__icon pagination__icon--next">
                    {# {% include 'svg-icon.twig' with { href: constant( 'AM2_SPRITEPATH' ) ~ '#arrow--right' } %} #}
                    &#10095;
                </span>
            </a>
        {% endif %}
        <div class="pagination__position">{{ pagination.current }} / {{ pagination.total }}</div>
    </div>
</div>
<!-- /pagination -->