<div class="post clearfix">

	<div class="post__social">
		{{ socialShare }}
	</div>

	{% if date and author %}
		<div class="post__info">
			<span class="post__date">{{ date }}</span> by <a href="{{ author_url }}" class="post__author">{{ author }}</a>
		</div>
	{% endif %}

	{% if title %}
		<h2 class="post__title">
			{{ title }}
		</h2>
	{% endif %}

	{% if category %}
		<a class="post__category" href="{{ category.permalink }}" style="color: {{ category.color }};">
			{{ category.name }}
		</a>
	{% endif %}

    {% if featured_image and youtube_video is empty %}
		<figure class="post__featured-image">
            {{ featured_image }}
        </figure>
	{% endif %}

     {% if youtube_video %}
        <figure class="post__video">
            <iframe
                src="https://www.youtube.com/embed/{{youtube_video}}"
                frameborder="0"
                >
            </iframe>
        </figure>
	{% endif %}

	{% if content %}
		<div class="post__content">
			{{ content }}
		</div>
	{% endif %}

	{#
	# if more than X images, show X-1 images + expand button
	# if X or less images, show all
	#}
	{%  set defaultShowPhotos = 8 %} {# <----- SET HERE number of initialy shown images #}
	{% if gallery|length %}
		<div class="post__gallery clearfix js-gallery">
			{# iterate photos #}
			{% for photo in gallery %}

				{% set photoClass = 'post__gallery-photo ' %}
				{% set photoContent = '' %}

				{# if more images than limit, make the image with limit index a button #}
				{% if gallery|length > defaultShowPhotos and loop.index == defaultShowPhotos %}
					{% set photoClass = photoClass ~ 'js-show-hidden' %}
					{% set photoContent = (gallery|length - (defaultShowPhotos-1)) ~ " +" %}
				{% endif %}
				{# images above limit, hide #}
				{% if( loop.index > defaultShowPhotos ) %}
					{% set photoClass = photoClass ~ 'hidden' %}
				{% endif %}

				{# display image #}
				<div class="{{ photoClass }}" style="background-image: url({{ photo.thumb }});">
					{# lightbox link #}
					<a data-lightbox="post-gallery" data-title="{{ photo.title }}" href="{{ photo.large }}"></a>
					{# image content (for show-more button) #}
					{% if(photoContent) %}
						<span>{{ photoContent }}</span>
					{% endif %}
				</div>

			{% endfor %}
		</div>
	{% endif %}

</div>