<div class="section section--am2-slider">
	<div id="am2-slider-{{ block_position }}" class="am2-slider" data-plugin-slick data-options="{{ slick_options }}">
		{% for slide in slides %}
		<div class="am2-slider__item">
			{% set classes = [ 'am2-slider__media' ] %}
			{% if slide.featured %}
				{% set classes = classes|merge([ 'am2-slider__media--image' ]) %}
			{% endif %}
            {% if slide.post_type == 'video' and slide.mode and slide.video.url %}
				{% set classes = classes|merge([ 'am2-slider__media--video' ]) %}
            {% endif %}
			<div class="{{ classes|join(' ') }}">
				{% if slide.post_type == 'video' and slide.mode and slide.video.url %}
				    <div class="am2-slider__video" data-plugin-youtube data-options="{{ iframe_options }}"></div>
                    {% if slide.featured %}
                        <figure class="am2-slider__image" style="background-image:url({{ slide.featured }})"></figure>
                    {% endif %}
				{% elseif slide.post_type== 'video' and slide.video_file %}
                    <div class="am2-slider__video-custom">
                        <video class="am2-slider__video-custom-video js-am2-slider__video-custom" loop muted playsinline>
                            <source src="{{ slide.video_file }}" type="video/mp4">
                            {% if slide.video_file_2 %}
                                <source src="{{ slide.video_file_2 }}" type="video/ogg">
                            {% endif %}
                            Your browser does not support the video tag.
                        </video>
                    </div>
				{% endif %}
			</div>
            <div class="am2-slider__content">
                <div class="am2-slider__content-wrap">
                    <h5 class="am2-slider__caption">
                        {{ slide.caption }}
                    </h5>
                    {% if slide.headline %}
                    <h3 class="am2-slider__heading">
                        {% if slide.link %}
                        <a {% if slide.link.target %} target="{{ slide.link.target }}" {% endif %} class="am2-slider__link" href="{{ slide.link.url }}">
                        {% endif %}
                        {{ slide.headline }}
                        {% if slide.link %}
                        </a>
                        {% endif %}
                    </h3>
                    {% endif %}
                    {% if slide.post_type == 'article' %}
                        {% if slide.link.url %}
                            <a href="{{ slide.link.url }}" class="am2-slider__button">{{ __( 'Read article', 'am2' ) }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
		</div>
		{% endfor %}
	</div>
</div>