<div class="subscribe" {% if image %} style="background-image:url( {{ image }});" {% endif %}>

    <div class="subscribe__meta">
        {% if title %}
            <h3 class="subscribe__title">
                {{ title }}
            </h3>
        {% endif %}

        {% if text  %}
            <div class="subscribe__text">
                {{ text  }}
            </div>
        {% endif %}
    </div>

    {% if form  %}
        <div class="subscribe__form">
            {{ form  }}
        </div>
    {% endif %}

</div>