<div class="section section--am2-table am2-table">
    <div class="wrapper">
        <div class="container">
            <div class="col-1">
                <div class="am2-table">
                    <table class="table js-responsive-table">

                        {% if table.header != false %}
                            <thead class="table__head">
                                <tr class="table__row">
                                    {% for th in table.header %}
                                        <th class="table__heading">
                                            {{ th.c }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                        
                        <tbody class="table__body">
                            {% for tr in table.body %}
                                <tr class="table__row">
                                    {% for td in tr %}
                                        <td class="table__cell">
                                            {{ td.c }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>