<div class="terms">

	<div class="clearfix" id="am2-tabs-content">

		<div class="col-13 terms__left">

			{% if title %}
				<h2 class="terms__head">{{ title }}</h2>
			{% endif %}

			<div class="am2-tabs__titles terms__titles">

			{% if terms|length %}
				{% for term in terms %}
					{% if term.title|trim and term.text %}
						<a href="#{{loop.index}}" class="am2-tabs__title terms__title">
							{{ term.title }}
						</a>
					{% endif %}	
				{% endfor %}
			{% endif %}

			</div>

		</div>

		<div class="col-23 no-margin terms__right">

			<div class="am2-tabs__panels terms__panels">

				{% if terms|length %}
					{% for term in terms %}
						{% if term.title|trim and term.text %}
							<div id="{{loop.index}}" class="am2-tabs__panel terms__panel">
								{% if term.title|trim %}
									<h3 class="terms__panel-title">{{ term.title }}</h3>
								{% endif %}
								{% if term.text|trim %}
									<div class="terms__panel-text">{{ term.text }}</div>
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}

			</div>

		</div>

	</div>
	
</div>