<div class="section section--testimonials testimonials">
    <div class="wrapper">
        <div class="container">
            <div class="col-1">
                <div class="am2-testimonials js-slick-slider" data-slick='{"dots": false, "arrows": true }'>
				{% for testimonial in testimonials %} 
					<article class="am2-testimonials__testimonial">
						{% include 'image.twig' with {
							modifiers: 'testimonial__image',
							inline: true,
							image: {
								object: testimonial.image
							}
						} %}
						<div class="testimonial__description left">
							<blockquote class="testimonial__blockqoute">
								{{ testimonial.content }}
							</blockquote>
							<div class="testimonial__writer right">
								<h2 class="testimonial__name">{{ testimonial.name }}</h2>
								<h3 class="testimonial__title">{{ testimonial.title }}</h3>
							</div>
						</div>
					</article>
				{% endfor %}
			</div>
            </div>
        </div>
    </div>
</div>