<div class="video-block" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="duration" content="{{ post.meta.duration.robot }}" />
    <meta itemprop="thumbnailUrl" content="{{ post.image }}" />
    <meta itemprop="contentURL" content="{{ post.permalink }}" />
    <meta itemprop="embedURL" content="{{ post.meta.youtube_url }}" />
    <meta itemprop="uploadDate" content="{{ post.meta.published_at }}" />
    <meta itemprop="description" content="{{ post.description }}" />
    <a href="{{ post.permalink }}" title="{{ post.title }}">
        <figure class="video-block__object video-block__object--16by9">
            <div class="video-block__object-src" style="background-image: url('{{ post.image }}');"></div>
            {#
            <div class="video-block__object-play am2-play">
                <svg class="am2-play__svg">
                    <use xlink:href="{{ constant('AM2_SPRITEPATH') }}#icon--play-circle"></use>
                </svg>
            </div>
            #}
            <div class="video-block__object-duration">{{ post.meta.duration.human }}</div>
        </figure>
    </a>
    {% if post.category.link and post.category.name %}
    <div class="video-block__category">
        <a href="{{ post.category.link }}" title="{{ post.category.name }}">{{
            post.category.name
        }}</a>
    </div>
    {% endif %}
    <h2 class="video-block__title">
        <a href="{{ post.permalink }}" title="{{ post.title }}">
            <span itemprop="name">{{ post.title }}</span>
        </a>
    </h2>
</div>