<div class="section section--video-categories video-categories video-categories--flexible">
    <span class="anchor" id="section-block-{{ block_position }}"></span>
    <div class="wrapper">
        <div class="container">
            <div class="section__header">
                <h2 class="section__headline">{{ headline }}</h2>
                {% if link %}
                <a href="{{ link.url }}" class="section__more"{% if link.target == '_blank' %} target="_blank"{% endif %}>{{
                    link.title
                }}</a>
                {% endif %}
            </div>
        </div>
        <div class="container container--flex">
            {% set column = ['video-categories__item', 'col-14', 'video-category'] %}
            {% for key, item in categories %}
            <div class="{{ column|join(' ') }}">
                 <a href="{{ item.permalink }}"  class="video-category__link">
                    <figure class="video-category__object" itemscope="" itemtype="http://schema.org/ImageObject">
                        <div class="video-category__object-src" style="background-image: url('{{ item.image }}');"></div>
                        <meta itemprop="image" content="{{ item.image }}">
                        {% if item.description %}
                            <div class="video-category__description">
                                {{ item.description }}
                            </div>
                        {% endif %}
                    </figure>
                    {% if bottom_caption  %}
                    <div class="video-category__color"{% if item.color %} style="background-color:{{ item.color }};"{% endif %}>
                        <h4 class="video-category__name">{{ item.name }}</h4>
                    </div>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>