<div class="video-block video-block--side" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="duration" content="{{ meta.duration.robot }}" />
    <meta itemprop="thumbnailUrl" content="{{ image }}" />
    <meta itemprop="contentURL" content="{{ permalink }}" />
    <meta itemprop="embedURL" content="{{ meta.youtube_url }}" />
    <meta itemprop="uploadDate" content="{{ meta.published_at }}" />
    <meta itemprop="description" content="{{ description }}" />
    <div class="video-block__container clearfix">
        <div class="col-12 video-block__figure">
            <a href="{{ permalink }}">
                <figure class="video-block__object video-block__object--16by9">
                    <div class="video-block__object-src" style="background-image: url('{{ image }}');"></div> 
                    <div class="video-block__object-duration">{{ meta.duration.human }}</div>
                </figure>
            </a>
        </div>
        <div class="col-12 video-block__content">
            <div class="video-block__category">
                <a href="{{ category.link }}" style="color:{{ category.color }};">{{ category.name }}</a>
            </div>
            <h2 class="video-block__title">
                <a href="{{ permalink }}">
                    <span itemprop="name">{{ title }}</span>
                </a>
            </h2> 
        </div>
    </div>
</div>