<div class="section section--visual-editor visual-editor">
    <div class="wrapper">
        <div class="container">
            <div class="col-1">
                {{ wysiwyg }}
            </div>
        </div>
    </div>
</div>