/* Section General CSS */
.entry-showcase {
    padding: 25px 0 0;

    &__item {
        margin-bottom: 25px;
    }

    &--vertical {
        // bem Modifier
        background-color: rgba($color: #000000, $alpha: .1);

        .entry-item {
            &__image {
                width: 100%;
            }
        }
    }
}

/* A single item */
.entry-item {
    .wrapper {
        width: auto;
        margin-left: -1.2195%;
        margin-right: -1.2195%;
    }

    &__title {
        line-height: 35px;
        margin-bottom: 10px;
    }

    &__date { 
        display: block;
        opacity: .8;
        margin-bottom: 10px;
    }

    &__image {
        max-height: 200px;
        object-fit: cover;
    }

    &__description {
        margin-bottom: 25px;
    }
}