.button-group {
    padding: 65px 0;

    @include breakpoint( $breakpoint_tablet ) {
        padding: 35px 0;
    }

    &__wrapper {
        text-align: center;
        margin-bottom: 55px;

        @include breakpoint( $breakpoint_tablet ) {
            margin-bottom: 25px;
        }

        @include breakpoint( $breakpoint_small ) {
            margin-bottom: 0;
        }

        .button {

            @include breakpoint( $breakpoint_small ) {
                display: block; 
                width: 100%;
                margin-bottom: 20px;
            }

            &:not(:last-child) {
                margin-right: 15px;

                @include breakpoint( $breakpoint_small ) {
                    margin-right: 0;
                }
            }
        }
    }
}