/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$color_secondary
$color_featured
$color_danger
$color_body_text
$color_gray
$text_color_primary
$text_color_secondary
$text_color_featured
$text_color_danger
$padding_button
$padding_large_button
$padding_small_button
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
button,
.button {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 4px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 14px;
    padding: $padding_button;
    user-select: none;
    background: $color_button_background;
    color: $color_body_text;
    transition: .3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: $color_button_background_hover;
        color: white;
        fill: white;
    }

    &:disabled,
    &--disabled {
        opacity: 0.7;
        pointer-events: none;
        box-shadow: none;

        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}

.button {

    span {
        display: inline-block;
        margin-right: 6px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__icon {
        margin-right: 6px;
        width: 16px;
        height: 16px;
        vertical-align: text-top;

        &:last-child {
            margin-right: 0px;
        }
    }

    &--large {
        padding: $padding_large_button;
        font-size: 18px;

        .button__icon {
            width: 18px;
            height: 18px;
        }
    }

    &--small {
        padding: $padding_small_button;
        font-size: 9px;

        .button__icon {
            width: 12px;
            height: 12px;
        }
    }

    &--primary {
        border: 1px solid #fff;
        color: white;
        fill: white;
        fill: currentColor;

        &:hover {
            background-color: $color_button_background_hover;
            color: white;
            fill: white;
            fill: currentColor;
        }
    }

    &--outlined {
        border-color: $color_button_background;
        background-color: #fff;
        color: #202020;

        &:hover {
            background-color: $color_button_background_hover;
            color: #fff;
            fill: #fff;
        }
    }

    @include modifier('dark') {
        background: #222;
        color: #fff;
    }

    @include modifier('bordered') {
        background: transparent;
        border: 1px solid $color_button_background;
    }

    @include modifier('full-width') {
        display: block;
        width: 100%;
    }
}

button:disabled,
.button--disabled {
    opacity: 0.7;
    pointer-events: none;
    box-shadow: none;

    &:hover {
        color: inherit;
        background-color: inherit;
    }
}
