.card{

	/*** modifiers **/

	&--sidebar {

		margin: $component_margin 0 $component_margin * 1.5 0;

		@include breakpoint( $breakpoint_tablet ) {
			float: left;
			width: calc( 50% - #{$grid_margin*1/2} );
			margin-right: $grid_margin;

			&:nth-of-type(2n){
				margin-right: 0;
			}
		}

		@include breakpoint( $breakpoint_small ) {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-bottom: $grid_margin;
		}

	}

	&--vertical {

		transition: all .2s ease-in-out;
		margin-bottom: $grid_margin;

		@include breakpoint( $breakpoint_tablet ) {
			float: left;
			width: calc( 50% - #{$grid_margin*1/2} );
			margin-right: $grid_margin;

			&:nth-of-type(2n){
				margin-right: 0;
			}
		}

		@include breakpoint( $breakpoint_mobile ) {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-bottom: $grid_margin;
		}

		.card__meta {
            background: rgba(255, 255, 255, 0.058823529411764705);
			padding: $component_margin $component_margin;

		}

		&:hover{
			box-shadow: 0 0 3px rgba(0,0,0,.2);
		}

		.card__category{

			padding-top: 0;

		}

	}

	&--date-box {

		.card__meta {

			padding-left: $grid_padding * 7;

		}

	}

	/*** elements **/

	&__media {

		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		&-badge {

			position: absolute;
			display: inline-block;
			margin-right: $grid_padding/2;
			background: #000;
			padding: $grid_padding/2;
			border-radius: 50%;
			top: 20px;
			left: 20px;

			width: 35px;
			height: 35px;
			use{
				fill: #fff;
			}

			+ .card__media-badge {
				left: 65px;
			}
		}

		&-label{

			position: absolute;;
			top: 20px;
			left: 20px;
			display: inline-block;
			margin-right: $grid_padding/2;
			padding: $grid_padding/3 $grid_padding;
			border-radius: 10px;
			background: $color_dark;
			vertical-align: middle;

			font-size: 12px;
			line-height: 22px;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;

			svg{
				margin: -3px $grid_padding/2 0 0;
				width: 14px;
				height: 14px;

				use{
					fill: #fff;
				}
			}

		}
	}

	&__category {

		display: block;
		padding: $grid_padding 0 $grid_padding/2 0;
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;

	}

	&__title {

		display: block;
		padding: 0 0 $grid_padding 0;
		font-weight:400;
		font-size: 22px;
		line-height: 28px;
		color: $color_section_title;

	}

	&__excerpt{

		font-size: 12px;
		line-height: 22px;
		color: $color_section_text;
		margin-bottom: $grid_margin;
	}

	&__date{

		font-size: 12px;
		line-height: 22px;
		font-weight: 500;
		color: $color_section_text;

	}

	&__location{

		font-size: 12px;
		line-height: 22px;
		font-weight: 400;
		color: $color_section_text;

	}

	&__date-box{

		float: left;
		margin-left: -($grid_padding*6);

	}

}