.am2-columns {
    padding: 110px 0;

    @include breakpoint( $breakpoint_tablet ) {
        padding: 55px 0;
    }

    &__headline {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 45px!important;

        @include breakpoint( $breakpoint_mobile ) {
            font-size: 32px; 
            margin-bottom: 30px!important;
        }
    }

    &--has-4, 
    &--has-3,
    &--has-2 {

        & > .wrapper {

            & > .container {
    
                & > div[class*="col-1"] {
                    @include breakpoint( $breakpoint_desktop ) {
                        width: 48%;
                        margin-right: 0;
                        margin-bottom: 45px;
        
                        &:nth-child(odd) {
                            margin-right: 4%;
                        }
                    } 

                    @include breakpoint( $breakpoint_mobile ) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 30px;
        
                        &:nth-child(odd) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &--has-3 {
        & > .wrapper {

            & > .container {
    
                & > div[class*="col-1"] { 

                    &:last-child {
                        @include breakpoint( $breakpoint_tablet ) {
                            width: 100%;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &--has-1 {
        & > .wrapper {
            max-width: 600px;
        }
    }

    & + .am2-columns,
    & + .button-group {
        padding-top: 0;
    }
}