.date-box{
	
	display: inline-block;
	min-width: 70px;
	padding: $grid_padding/2; 
	text-align: center;
	border: 1px solid $color_border;
	border-radius: 3px;

	&__months{

		margin: 0;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		color: $color_section_gray;

	}

	&__days{

		margin: 0;
		font-size: 18px;
		color: $color_section_title;

	}

}