.featured-videos {

    .section {
        &__header {
            padding: 35px 0;
        }
    }

    .wrapper {
        padding-bottom: 35px;
    }

    .video-block {

        &__object {
            margin-bottom: 0;
        }
    }

    .col--left,
    .col--right {
        display: flex;
        flex-flow: row wrap;
    }

    .col--left {
        @include breakpoint( $breakpoint_desktop ) {
            width: 100%;
            margin-right: 0;
        }

        .col-1 {
            @include breakpoint( $breakpoint_desktop ) {
                width: calc( 100% / 2 - 10px );
            }

            @include breakpoint( $breakpoint_tablet ) {
                width: 100%;
                margin-right: 0;
            }

            &:nth-child(odd) {
                @include breakpoint( $breakpoint_desktop ) {
                    margin-right: 20px;
                }

                @include breakpoint( $breakpoint_tablet ) {
                    margin-right: 0;
                }
            }
        }

        .video-block {
            &__title {
                margin-bottom: 15px;
            }
        }
    }

    .col--right {
        @include breakpoint( $breakpoint_desktop ) {
            width: 100%;
            margin-right: 0;
        }

        .col-12 {
            width: calc( 100% / 2 - 10px );

            @include breakpoint( $breakpoint_desktop ) {
                width: calc( 100% / 3 - 15px );
                margin-right: 20px;
            }

            @include breakpoint( $breakpoint_tablet ) {
                width: calc( 100% / 2 - 10px );
            }

            @include breakpoint( $breakpoint_small ) {
                width: 100%;
            }

            &:nth-child(odd) {
                margin-right: 20px;

                @include breakpoint( $breakpoint_small ) {
                    margin-right: 0;
                }
            }

            &:nth-child(even) {
                @include breakpoint( $breakpoint_tablet ) {
                    margin-right: 0;
                }
            }


            &:nth-child(3n+3) {
                @include range_breakpoint( $breakpoint_tablet + 1 , $breakpoint_desktop ) {
                    margin-right: 0;
                }
            }
        }

        .video-block {
            &__category {
                @include range_breakpoint( $breakpoint_tablet, $breakpoint_desktop ) {
                    padding: 10px 0;
                }
            }

            &__title {
                @include range_breakpoint( $breakpoint_tablet, $breakpoint_desktop ) {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
            }

            &__object {
                &-duration {
                    @include range_breakpoint( $breakpoint_small, $breakpoint_tablet ) {
                        padding: 0 5px;
                        left: 8px;
                        bottom: 5px;
                    }
                }
            }
        }
    }
}