.gform_wrapper {
    display: block;
    margin: 50px auto 0!important;
    max-width: 570px!important;

    // IE Styles
    &.gf_browser_ie {

        .gform_footer {

            input.button{
                padding: $padding_button!important;
            }
        }
    }

    &.gform_validation_error { // Needed to avoid using a parent class

        .gform_body {

            ul.gform_fields {

                li.gfield {
                    &.gfield_error:not(.gf_left_half):not(.gf_right_half) {
                        @include breakpoint( $breakpoint_mobile, min-width ) {
                            max-width: none!important;
                        }
                    }

                    & + .gfield {
                        &.gfield_error {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    div.validation_error {
        color: red!important;
        border-color: red!important;
    }

    div.ginput_container_name {
        width: 100%!important;

        @include breakpoint( $breakpoint_mobile, min-width ) {
            display: flex;
            flex-flow: row nowrap;
        }

        span {
            @include breakpoint( $breakpoint_mobile, min-width ) {
                margin-right: 0;
                padding-right: 0;
                width: 48%!important;

                &:last-child {
                    margin-left: 4%;
                }
            }
        }
    }

    ul.gform_fields {

        li.gfield {
            margin-top: 30px;
            padding-right: 0!important;

            @include breakpoint( $breakpoint_mobile ) {
                margin-top: 20px;
            }

            &.gfield_error {
                border-top: none;
                border-bottom: none;
                background-color: transparent;
                margin-top: 5px;
                width: 100%;

                &.gfield_contains_required {
                    div.gfield_description {
                        padding-top: 5px;
                    }
                }

                input {
                    border-color: red!important;
                }

                .validation_message {
                    color: red!important;
                }
            }

            .name_first,
            .name_last {
                position: relative;

                @include breakpoint( $breakpoint_mobile ) {
                    margin-bottom: 20px;
                }

                input {
                    margin-top: 0;

                    &.has-value,
                    &:focus,
                    &:active {
                        & ~ label {
                            transform: translate3d(0,-15px,0);
                            font-size: 9px;
                            text-transform: uppercase;
                            font-weight: 500;
                            color: #7a7a7a;

                            @include breakpoint( $breakpoint_mobile ) {
                                transform: translate3d(0,-17px,0);
                            }
                        }
                    }
                }

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    padding: 16px 18px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #202020;
                    transition: $transition;
                    transform: translate3d(0,0,0);
                    pointer-events: none;
                    cursor: text;
                }
            }

            textarea,
            input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]) {
                @extend %form-element;
                padding: 16px 18px;
                color: #202020;
                font-weight: 500;
                min-height: 50px;

                @include breakpoint( $breakpoint_mobile ) {
                    padding: 12px 15px;
                    line-height: normal;
                }

                &::placeholder {
                    color: inherit;
                }

                &::-moz-placeholder {
                    color: inherit;
                }

                &::-webkit-placeholder {
                    color: inherit;
                }
            }
        }
    }

    .gform_footer {

        .button {
            position: relative;

            .gform_ajax_spinner {
                position: absolute;
                z-index: 30;
                width: 100%;
                height: 100%;
                max-width: 18px;
                max-height: 18px;
                top: 14px;
                right: 10px;
                padding-left: 0;
                animation-name: spin;
                animation-duration: 3000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    .ginput_container_fileupload {
        position: relative;
        width: 100%;
        height: 50px;

        &:not(.has-val) {
            div[id^="gform_preview_"] {
                display: none;
                visibility: hidden;
            }
        }

        &:after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            pointer-events: none;
            z-index: 20;
            display: flex;
            font-weight: 500;
            align-items: center;
            padding: 16px 18px;
            color: #202020;
            font-weight: 500;
        }

        &:before {
            content: 'Browse File';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 25;
            margin: 0;
            border-radius: 0;
            text-transform: uppercase;
            pointer-events: none;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            align-content: center;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid #202020;
            height: 100%;

            @include breakpoint( $breakpoint_mobile ) {
                border-color: transparent;
                font-size: 13px;
                padding-left: 10px;
                padding-right: 10px;
                top: 13px;
                bottom: 10px;
                height: auto;
                right: 10px;
                background: #efecec;
            }
        }

        &:hover {
            &:before {
                color: white;
                background-color: $color_button_background_hover;
            }
        }

        input.medium[type="file"] {
            @extend .form__input;
            margin-top: 0;
            width: 100%!important;
            padding-right: 130px;
            appearance: none;
            min-height: 50px;
            line-height: 28px;
            cursor: pointer;

            @include breakpoint( $breakpoint_mobile ) {
                padding-right: 150px;
            }
        }

        div[id^="gform_preview_"] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 35;
            margin: 0;
            border-radius: 0;
            display: flex;
            align-items: center;
            color: #202020;
            background-color: white;
            text-transform: uppercase;
        }
    }

    .field_description_below {

        .gfield_description {
            padding-top: 8px!important;
        }
    }
}

/* .content { // Just for the pages with contact form, I will see a propper way of implementing a body class maybe
    background-color: $color_light_gray;
} */
