.latest-news {

    .section {
        &__header {
            padding: 35px 0;

            &::after {
                background-color: #fff;
            }
        }
    }

    .wrapper {
        padding-bottom: 35px;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.058823529411764705);
        margin-bottom: 25px;

        &__meta {
            padding: 0 15px 10px;
        }

        &__title {
            max-height: 45px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .col--left,
    .col--right {
        display: flex;
        flex-flow: row wrap;
    }

    .col--left {
        @include breakpoint( $breakpoint_tablet ) {
            width: 100%;
            margin-right: 0;
        }

        .col-1 {

            @include breakpoint( $breakpoint_tablet ) {
                width: 100%;
                margin-right: 0;
            }

            &:nth-child(odd) {
                @include breakpoint( $breakpoint_tablet ) {
                    margin-right: 0;
                }
            }
        }
    }

    .col--right {
        @include breakpoint( $breakpoint_tablet ) {
            width: 100%;
            margin-right: 0;
        }

        .col-12 {
            width: calc( 100% / 2 - 10px );

            @include breakpoint( $breakpoint_small ) {
                width: 100%;
            }

            &:nth-child(odd) {
                margin-right: 20px;

                @include breakpoint( $breakpoint_small ) {
                    margin-right: 0;
                }
            }

            &:nth-child(even) {
                @include breakpoint( $breakpoint_tablet ) {
                    margin-right: 0;
                }
            }

            &:nth-child(3n+3) {
                @include range_breakpoint( $breakpoint_tablet + 1 , $breakpoint_desktop ) {
                    margin-right: 0;
                }
            }
        }
    }
}