.logo {
    float: none;

    .home & {
        display: none;
    }

    &-wrapper {
        @include breakpoint( $breakpoint_small ) {
            min-width: 135px;
        }
    }

    &__link {
        display: block;
        font-size: 24px;
        max-width: 100%;
        margin: 0 auto;
        color: #ffffff;

        svg,
        img {
            width: 100%;
            vertical-align: middle;
        }

        &:hover {
            color: #eeeeee;
        }
    }
}