// Vars used in this file
$button-size: 34px !default;
$button-transition: .3s !default;
$button-radius: 2px; //($button-size / 14) !default;
$button-color: white !default;

// Maybe use vars
$button-arrowleft-transformation: (
    transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg)
) !default;
$button-arrow360left-transformation: (
    transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg)
) !default;

// Mixins
@mixin menu-toggle-lines {
    display: inline-block;
    height: ($button-size / 12);
    width: $button-size;
    border-radius: $button-radius;
    transition: $button-transition;
    background: $button-color;
}

// Responsive Toggle Buttons
.resp-buttons {
    position: relative;
    margin: 40px 0 35px;
    transition: $transition;

    @include breakpoint( $breakpoint_desktop ) {
		margin: 30px 0 25px;
    }

    @include breakpoint( $breakpoint_tablet ) {
		margin: 20px 0 18px;
	}

    &__menu {
        margin: 0;

        &-button,
        &-text {
            display: inline-block;
            color: white;
            vertical-align: middle;
        }

        &-text {
            margin: 0 15px;
        }
    }

    &__other {
        // maybe a search toggle
    }
}

// Menu Toggle Button
.menu-toggle {
    cursor: pointer;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $button-size;
    width: $button-size;
    background: transparent;
    outline: none;
    border: none;
    appearance: none;
    user-select: none;
    transition: $button-transition;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    > * {
        display: block;
    }

    &:hover,
    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &__lines {
        @include menu-toggle-lines;
        position: relative;

        &::before,
        &::after {
            @include menu-toggle-lines;
            content: '';
            position: absolute;
            left: 0;
            transform-origin: ($button-size / 14) center;
            width: 100%;
        }

        &::before {
            top: ($button-size / 3);
        }

        &::after {
            top: -($button-size / 3);
        }

        .menu-toggle--active & {
            transform: scale3d(.8, .8, .8);
        }
    }
}

// Butterfly Effect
.menu-toggle--xbutterfly {
    .menu-toggle {
        &__lines {
            &::before,
            &::after {
                transform-origin: 50% 50%;
                transition: top .3s .6s ease, transform .3s ease;
            }
        }
    }

    &.menu-toggle--active {
        .menu-toggle__lines {
            background: transparent;

            &::before,
            &::after {
                top: 0;
                transition: all .3s ease, transform .3s .5s ease;
            }

            &::before {
                transform: rotate3d(0, 0, 1, 45deg) scale(1.2);
            }

            &::after {
                transform: rotate3d(0, 0, 1, -45deg) scale(1.2);
            }
        }
    }
}