.menu {
	/* Default Menu CSS - if used without walker */
	list-style: none;
	padding: 0;

	/* Main Navigation */
	&--main-menu {

		/* One Menu Item */
		.menu-item {
			position: relative;
			display: block;
			margin-bottom: 21px;

			@include breakpoint( $breakpoint_tablet ) {
				margin-bottom: 15px;
			}

			@include breakpoint( $breakpoint_mobile ) {
				margin-bottom: 10px;
            }

            &__toggle {
                position: absolute;
                right: 0;
                top: 0;
                height: 36px;
                width: 36px;
                padding: 8px;
                background: transparent;
                border-radius: 0;
                margin-right: 0;
                outline: 0;
                transform: rotate(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #fff;

                &.rotate-arrow {
                    transform: rotate(0);
                }
                .arrow-down {
                    fill: #fff;
                    width: 16px;
                    height: 16px;
                }
            }


			/* Items that have dropdowns */
			&--has-children {
				.menu-item {
					&__link {
						padding-right: 30px;
					}
				}

				&.menu-item--current-ancestor,
				&.menu-item--current-parent,
				&.menu-item--current-item,
				&:hover {

					&.menu-item--depth-0 {
						&::after {
							border-top-color: $color_primary;
						}
					}

					&::after {
						border-top-color: white;
					}
				}

			}

			/**
			 * Menu Items Depth
			 * -- target with "depth-#" for each menu-item class levels
			 * The one bellow is for "first level" dropdown menu items
			 */
			&--depth-0 { // Bellow this class
				&::after {
					border-top-color: #fff;
				}

				.menu-item {
					&--has-children {
						&::after {
							transform: rotate(-90deg) translateY(-50%);
						}
					}
				}
			}

			&--depth-1 {
				display: block;
			}

			/* Hover/Active state for Main/Dropdown Menu Item Links and his ancestors */
			&--current-ancestor,
			&--current-item,
			&:hover {
				> .menu-item {
					&__link {
						/* For Main Item Link */
						&--main {
							color: #3d5afe;
							padding-left: 5px;
						}
					}
				}
			}

			/* Menu Item Link */
			&__link {
				display: block;
				padding: 5px 0px;

				/* Main Menu Item Link */
				&--main {
					color: white;
					font-weight: bold;
				}

				/* Dropdown Menu Item Link */
				&--dropdown {
					padding: 2px 8px;
                    text-align: left;
                    color: #fff;
                    font-weight: 700;

                    &:focus,
                    &:hover {
                        color: #3d5afe;
                    }
				}
			}

			/* Menu Item Dropdown List */
			&__dropdown {
				width: auto;
				min-width: 220px;
				opacity: 1;
				visibility:visible;
				transform-origin: top center;
				transition: none;
                z-index: 1030;
                padding-left: 16px;
                margin-bottom: -20px;
                display: none;

                @include breakpoint($breakpoint_mobile) {
                    margin-bottom: -10px;
                }

				/**
				 * Dropdown Items Depth
				 * -- target with "depth-#" for each dropdown levels
				 * The one bellow is for "second level" dropdown items (0-is for first level dropdown)
				 */
				&--depth-1,
				&--depth-2,
				&--depth-3 {
					top: -3px;
					left: 100%;
					border-top: none;
					border-left: 3px solid $color_primary;
					transform: translateX(-15px);
				}

				/* On dropdowns - the menu items are full width, stacked */
				.menu-item {
                    width: 100%;
                    margin-bottom: 0;
                    color: #fff;
                    border: 0;
				}
			}
		}
	}

	// Footer Navigation Landing Page
	&--footer-landing {
		margin-bottom: 15px;

		.menu-item {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 25px;
			}

			&__link {
				color: white;
				opacity: .65;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}