.footer-navigation {
    display: inline-block;
    vertical-align: middle;

     @include breakpoint($breakpoint_desktop) {
        margin: $component_margin 0;
        width: 100%;
        display: block;
    }
}

.menu {

    &--footer-menu {
        margin: 0 0 0 $component_margin*2;

        @include breakpoint($breakpoint_desktop) {
            margin: $component_margin 0 0 0;
            width: 100%;
            display: block;
        }

        .menu-item {
            float: none;
            display: inline-block;
            line-height: 20px;

            &:not(:first-child) {
                margin: 0 0 0 $component_margin;
            }

            @include breakpoint($breakpoint_desktop) {
                width: 100%;
                display: block;
                text-align: center;

                 &:not(:first-child) {
                   margin: $component_margin/2 0 0 0;
                }
            }

            a {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
                color: #fff;

                &:hover {
                    color: rgb(153, 153, 153);
                }
            }


        }

		@include breakpoint($breakpoint_desktop) {
			display: block;
			margin: $component_margin 0;
			ul{
				width: 100%;
				li{
					margin: $component_margin/2 0 0 0;
					width: 100%;
				}
			}
		}
    }
}