// Pagination

.pagination {
    width: 100%;
    margin: $grid_margin * 6 auto;
    position: relative;
    padding-left: 0;
    text-align: center;

    @include breakpoint($breakpoint_mobile) {
        margin: $grid_margin * 2 auto;
    }

    .page-numbers {
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc;
        color: $color_dark;
        display: inline-block;
        font-size: 18px;
        padding: 10px 20px;
        line-height: 28px;

        @include breakpoint($breakpoint_mobile) {
            padding: 12px 13px;
            line-height: 12px;
        }

        &:not(:last-child) {
            margin-right: 10px;

             @include breakpoint($breakpoint_mobile) {
                margin-right: 5px;
            }
        }

        &.current,
        &:hover {
            color: #fff;
            background-color: $color_dark;

            &:hover {
                background: $color_dark;
            }
        }
    }

    @include breakpoint( $breakpoint_tablet ) {
        margin:  55px 0 0px;
    }

    @include breakpoint( $breakpoint_small ) {
        margin:  25px 0 0px;
    }

    &__wrap {
        position: relative;
        display: inline-block; // fallback
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        @include breakpoint( $breakpoint_small ) {
            display: none;
        }
    }

    &__position {
        display: none;
        width: 100%;
        margin-top: 10px;

        @include breakpoint( $breakpoint_small ) {
            display: block;
        }
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: center;

        & + .pagination__page {
            margin-left: 10px;
        }
    }

    &__label {
        display: none;
        visibility: hidden;
    }

    &__prev,
    &__next {
        @extend .page-numbers;
        position: absolute;
        top: 50%;
        margin-right: 2px!important;
        transform: translate3d(0,-50%,0);

        @include breakpoint( $breakpoint_small ) {
            position: relative;
            top: initial;
            transform: none;
        }
    }

    &__next {
        left: calc( 100% + 10px );

        @include breakpoint( $breakpoint_small ) {
            left: initial;
        }
    }

    &__prev {
        right: calc( 100% + 10px );

        @include breakpoint( $breakpoint_small ) {
            right: initial;
        }
    }
}