.post{

	position: relative;

	&__social {

		position: absolute;
		top: 0;
		left: -100px;

		@include breakpoint( $breakpoint_desktop ) {
			position: relative;
			left: 0;
			margin: 0 0 $component_margin/2 0;
		}

		.social__item{

			display: block;

			@include breakpoint( $breakpoint_desktop ) {
				display: inline-block;
			}

		}

		.social__link {

			@include breakpoint( $breakpoint_desktop ) {
				margin-bottom: 0;
			}
		}

	}

	&__info {

		font-size: 12px;

	}

	&__date{
		font-weight: 400;
	}

	&__author{

		font-weight: 500;
		border-bottom: 2px solid $color_underline;

	}

	&__title {

		font-size: 38px;
		line-height: 48px;
		font-weight: 700;
		margin: 0 0 $component_margin / 2 0;

		@include breakpoint($breakpoint_mobile) {
			font-size: 30px;
			line-height: 35px;
		}

	}

	&__category {

		display: block;
		margin: 0 0 $component_margin / 2 0;
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;

    }

    &__featured {

        &-image {
            margin-bottom: $component_margin;
        }
    }

    &__video {
         position: relative;
         padding-bottom: 56.25%;
         /* 16:9 */
         padding-top: 25px;
         height: 0;
         margin-bottom: $component_margin;

         iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
         }
    }

	&__content {

		h1 {
			font-size: 32px;
			line-height: 1.3;
		}

		h3 {

			font-size: 22px;
			line-height: 32px;
			font-weight: 300;

		}

		h4 {

			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;

		}

		p {

			font-size: 14px;
			line-height: 24px;

		}

		img {

			margin: $component_margin/2 0 $component_margin 0;
			width: auto;
			max-width: 100%;
			height: auto;

		}

		iframe {

			width: 100%;
			height: 330px;

		}

	}

	&__gallery{

		margin: $component_margin*2 0 0;

		&-photo{
			position: relative;
			float: left;
			width: calc( 25% - #{$grid_margin*3/4} );
			margin-right: $grid_margin;
			padding-bottom: calc( 25% - #{$grid_margin*3/4} );
			background-size: cover;
			background-position: center;
			transition: all .2s ease-in-out;

			&:nth-of-type(4n){
				margin-right: 0;
			}

			&:nth-child(n+5) {
				margin-top: $grid_margin;
			}

			&.hidden{

				display: none;

			}

			span{
				position: absolute;
				z-index: 10;
				width: 100%;
				height: 100%;
				padding-top: calc( 50% - #{$grid_margin} );
				font-size: 22px;
				text-align: center;
				background: $color_dark !important;
				color: $color_light_gray;
				cursor: pointer;

				@include breakpoint( $breakpoint_mobile ) {
					padding-top: calc( 50% - #{$grid_margin/2} );
					font-size: 14px;
				}
			}

			a{
				position: absolute;
				z-index: 9;
				display: block;
				width: 100%;
				height: 100%;
			}

		}

	}

}