.section-bar{

	position: relative;
	height: $grid_margin;

	/** modifiers **/

	&--margin {

		margin-bottom: $grid_margin * 3;

		@include breakpoint( $breakpoint_tablet ) {

			margin-bottom: $grid_margin * 2;

		}

		@include breakpoint( $breakpoint_mobile ) {

			margin-bottom: $grid_margin * 1.5;

		}

	}

	&--line {

		&:before {

			position: absolute;
			content: ' ';
			z-index: 0;
			top: $grid_padding / 2;
			left: -$grid_padding;
			display: block;
			height: 2px;
			width: calc( 100% + #{$grid_padding*2} );
			background: $color_border;

			@include breakpoint( $breakpoint_tablet ) {
				left: 5%;
				width: 90%;
			}

			@include breakpoint( $breakpoint_mobile ) {
				left: 5%;
				width: 90%;
			}

		}

		.section-bar__title,
		.section-bar__link{
			background: $color_light_gray;
		}

	}


	/** elements **/

	&__title{
		position: absolute;
		z-index: 2;
		left: -$grid_padding/2;
		padding: 0 $grid_padding/2;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		color: #fff;
	}

	&__link {

		position: absolute;
		z-index: 2;
		right: -$grid_padding/2;
		padding: 0 $grid_padding/2;
		font-size: 12px;
		color: $color_section_dark;

	}

	/** pseudo **/

	&:after {

		content: ' ';
		display: table;
		clear: both;

	}

}