/*** Slider ***/

.am2-slider {

	opacity: 0;
	transition: $transition;

	&.slick-initialized {
		opacity: 1;
	}

	&__content {
		position: absolute;
		top: 0;
		left:0;
        right: 0;
        bottom: 0;
		z-index:500;
		background: rgba(0,0,0,0.3);
		color: #fff;
        padding: $component_margin*2;
        display: flex;
        justify-content: center;
        align-items: center;

        &-wrap {
            text-align: center;
        }

	}

	&__item {
		position: relative;
	}

	&__media {
		position: relative;
		height: 0;
		padding-bottom: 44%;
		overflow: hidden;

		@include breakpoint( $breakpoint_tablet ) {
			padding-bottom: 55%;
		}

		&--video {
			&::before { // Maybe an overlay but
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				background-color: transparent;

			}
		}

		div[data-plugin-youtube],
		figure {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&.loaded {
				+ .am2-slider__image {
					opacity: 0;
				}
			}
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: scale3d(1.30,1.30,1.30);
		}
	}

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: $transition;
		transition-delay: 500ms;
	}

	&__caption {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: $component_margin/2;
	}

	&__heading {
		font-size: 38px;

		@include breakpoint($breakpoint_tablet) {
			font-size: 25px;
		}
	}

	&__link {
		display: inline-block;
		color: #fff;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__icon {

		&:hover {
			opacity: 0.7;
		}

		&-play {
			width: 36px;
			height: 36px;
			fill: #fff;
		}
	}

	&__button {
		color: #fff;
		display: inline-block;
		//margin-top: $component_margin;

		&:hover {
			color: #fff;
			opacity: 0.8;
		}
    }

    &__video {

        &-custom {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 11;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background-color: #000;
            }

            &-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 20;
            }
        }
    }
}