.social {

	&--video {
		margin-top: 20px;
		margin-left: 10px;
		margin-bottom: -10px;

		@include breakpoint( $breakpoint_mobile ) {
			margin-top: 0;
			margin-left: 0;
			margin-bottom: 20px;
		}

		.social {
			&__item {
				display: block;
				margin: 0 auto;
				max-width: 30px;

				@include breakpoint( $breakpoint_mobile ) {
					margin-right: 10px;
					display: inline-block;
				}
			}
		}
	}

	&__list {
		list-style: none;
		padding: 0;

		@include breakpoint( $breakpoint_tablet ) {
			margin-bottom: $component_margin/2;
		}
	}

	&__item {
		display: inline-block;
		margin-right: $grid_margin / 2;

		@include breakpoint( $breakpoint_tablet ) {
			margin: 0 $grid_margin/2 0 0;
		}
	}

	&__link {
		display: block;
		padding: $grid_padding / 2;
		margin-bottom: $grid_margin / 2;
		fill: #000;
		background-color: $color_light_gray;
		border-radius: 100%;

		@include breakpoint( $breakpoint_tablet ) {
			display: inline-block;
			margin-bottom: 0;
		}

		&:hover {
			opacity: .8;
		}
	}

	svg {
		display: block;
		width: 15px;
		height: 15px;
	}
}