.subscribe {
    width: 100%;
    background:url('../../images/subscribe.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $component_margin*2;

    @include breakpoint($breakpoint_mobile) {
        padding: $component_margin;
    }

    .blog &,
    .archive.author &,
    .archive.category & {
        min-height: 452px;
        margin-bottom: $component_margin;

        @include breakpoint($breakpoint_mobile) {
           min-height: 0;
        }
    }

    &__meta {

        .blog &,
        .archive.author &,
        .archive.category & {
            margin-top: $component_margin;

            @include breakpoint($breakpoint_mobile) {
                margin-top: 0;
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
    }

    &__text {
        font-weight: 500;
    }

    .mc4wp-form {
        margin-top: $component_margin;
        max-width: 400px;
        margin: $component_margin auto 0;

        &-fields {
            display: flex;
            justify-content: center;
            position: relative;

            @include breakpoint($breakpoint_mobile) {
                display: block;
            }

            input {

                &[type="email"] {
                    background: #373737;
                    border: 1px solid #555555;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 5px;
                    max-width: 100%;
                    font-weight: 500;
                    width: 280px;
                    outline: none;
                    transition: $transition;

                    &:focus {
                        outline:0;
                        border-color: lighten(#555,20%);
                    }

                    .blog & {
                        max-width: 300px;

                        @include breakpoint($breakpoint_mobile) {
                            max-width: 100%;
                        }
                    }

                    @include breakpoint($breakpoint_mobile) {
                        width: 300px;
                        max-width: 100%;
                    }
                }

                &[type="submit"] {
                    @extend .button;
                    padding: 9px 30px;
                    margin-left: $component_margin/2;
                    background: #f8f8f8;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #000;

                    @include breakpoint($breakpoint_mobile) {
                        width: 300px;
                        margin: 0;
                        max-width: 100%;
                        margin-top: $component_margin/2;
                    }
                }
            }
        }
    }
}