.video-categories {
    &--flexible {

        .section {
            &__header {
                padding: 35px 0;
            }
        }

        .wrapper {
            padding-bottom: 35px;
        }

        .video-category {
            overflow: visible;

            &__object {
                &-src {
                    height: 0;
                    padding-bottom: 129%;
                    background-size: cover;
                    background-position: center;
                }
            }

            &__link {
                display: block;
                transform: translate3d(0,0,0);

                &:hover {
                    transform: translate3d(0,-5px,0);
                    box-shadow: 0 5px 20px 5px rgba( #000000, .1 );

                    .video-category {

                        &__description {
                            transform: translate3d(0,10px,0);
                            opacity: 1;
                        }
                    }
                }
            }

            &__color {
                background-color: lightgray;
            }

            &__description {
                position: absolute;
                top: -10px;
                left: 0;
                right: 0;
                padding: 10px;
                background: linear-gradient(to bottom,#000, #000 10%,rgba(0,0,0,0));
                color: #fff;
                opacity: 0;
                will-change: contents;
                transform: translate3d(0,0,0);
                transition: $transition;
            }

            &__name {
                text-align: center;
                font-size: 18px;
                line-height: 50px;
                font-weight: bold;
                color: white;

                @include breakpoint( $breakpoint_mobile ) {
                    font-size: 16px;
                    line-height: 40px;
                }

                @include breakpoint( $breakpoint_small ) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .video-categories {
            &__item {
                @include breakpoint( $breakpoint_desktop ) {
                    width: 48.5%;
                    margin-right: 3%;
                }

                &:nth-child(even) {
                    @include breakpoint( $breakpoint_desktop ) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}