.video-block {
    position: relative;
    margin-bottom: 20px;

    /*
    &:hover {
        .video-block {
            &__object {
                &::after {
                    opacity: 1;
                    left: 130%;
                    transition-property: left, top, opacity;
                    transition-duration: 0.7s, 0.7s, 0.15s;
                    transition-timing-function: ease;
                }
            }
        }
    }
    */

    &:not(:hover) {

        .video-block {

            &__highlight {
                border-color: transparent;
            }
        }
    }

    &--side {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        .video-block {
            &__category {
                font-size: 10px;
                line-height: 14px;
                padding-top: 0;
                padding-bottom: 5px;
            }

            &__title {
                padding-top: 0;
                font-size: 14px;
                line-height: 20px; // In design is 28 but is huge
                color: #3d3c3c;
            }

            &__object {
                margin-bottom: 0;
                margin-right: 15px;

                &--16by9 {
                    padding-bottom: 52%;
                }

                &-duration {
                    font-size: 12px;
                    line-height: 16px;
                    left: auto;
                    right: 10px;
                    bottom: 13px;
                }
            }

            &__content {
                padding: 0 5px;
            }
        }
    }

    &__object {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 75%;
        overflow: hidden;
        margin-bottom: 15px;

        /*
        &::after {
            content: "";
            position: absolute;
            top: -50%;
            left: -60%;
            width: 20%;
            height: 200%;
            opacity: 0;
            transform: rotate(30deg);
            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%
            );
            z-index: 5;
        }
        */

        &--16by9 {
            padding-bottom: 54%;

            .video-block__object-src,
            iframe,
            video,
            object {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            z-index: 5;
            width: 100%;
            height: 100%;
            max-width: 50px;
            max-height: 50px;

            @include breakpoint( $breakpoint_laptop ) {
                max-width: 40px;
                max-height: 40px;
            }
        }

        &-src {
            background-position: center;
            background-size: cover;
        }

        &-duration {
            position: absolute;
            right: 20px;
            bottom: 15px;
            background-color: rgba( #000000, .8 );
            padding: 2.5px 11px;
            border-radius: 2px;
            color: white;
            font-size: 12px;
            z-index: 10;
        }
    }

    &__category {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        letter-spacing: 1px;
    }

    &__title {
        padding-top: 15px;
        font-size: 18px;
        line-height: 18px;
        color: #3d3c3c;
        font-weight: 700;
        font-family: $font_family_2;
        text-transform: uppercase;

        a {
            display: block;
            max-height: 56px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.am2-play {
    cursor: pointer;

    &__svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
    }
}