<form action="{{ post_url }}" method="get" class="events-top__form-container  form clearfix js-filter-form">
	<input type="hidden" name="filter-start" id="dateStart" value="{{ values['filter-start'] }}"/>
	<input type="hidden" name="filter-end" id="dateEnd"  value="{{ values['filter-end'] }}"/>

	<img class="events-top__loading js-filter-loading" src="{{ fn('get_template_directory_uri') ~ '/assets/images/loading.gif' }}" alt="loading..." />

	<div class="col-13 events-top__headline">
		<h3 class="events-top__title">Events & Entertainment</h3>
		<p class="events-top__subtitle">Calgary </p>
	</div>

	<div class="col-23 no-margin events-top__form">

		<div class="events-top__calendar js-filter-calendar">
			{% include 'svg-icon.twig' with { modifiers: 'events-top__icon events-top__icon--calendar', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--calendar' } %}
			<input class="form__input" type="text" id="dateDisplay" placeholder="Pick a date" />
		</div>

		<div class="events-top__category">
			<select name="filter-category" class="selectize js-filter-category" placeholder="Category">
				<option></option>
				{% for category in categories %}
					<option {% if values['filter-category'] == category.slug %} selected {% endif %} value="{{ category.slug }}">{{ category.name }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="events-top__search">
			<input name="filter-search" class="form__input" value="{{ values['filter-search'] }}" type="text" placeholder="Search..." />
			<button type="submit">{% include 'svg-icon.twig' with { modifiers: 'events-top__icon events-top__icon--search', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--search' } %}</button>
		</div>

		<div class="events-top__clear {% if values|length %} active {% endif %} ">
			<a href="{{ post_url }}" class="js-filter-clear">
				Clear filters
				{% include 'svg-icon.twig' with { modifiers: 'events-top__icon events-top__icon--clear', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--close' } %}
			</a>
		</div>
		
	</div>

</form>