<ul class="pagination">

	<li class="pagination__arrow">
		<a href="#">
			{% include 'svg-icon.twig' with { modifiers: '', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--arrow-left' } %}
		</a>
	</li>

	{% for page in 1..pages %}

		<li class="{% if current == page %} active {% endif %}">
			<a class="pagination__page " href="{{ url }}{{ page }}">{{ page }}</a>
		</li>

	{% endfor %}

	<li class="pagination__arrow">
		<a href="#">
			{% include 'svg-icon.twig' with { modifiers: '', href: fn('get_template_directory_uri') ~ '/assets/images/sprite.svg#mix--arrow-right' } %}
		</a>
	</li>

</ul>