<div class="section-bar {{ className }}">

	<span class="section-bar__title">{{ title }}</span>
	
	{%if link %}
		<a 	class="section-bar__link {% if link.className %} {{ link.className }} {% endif %}" 
			href="{{ link.url }}" 
			{% if link.additional %} {{ link.additional }} {% endif %} 
		>
			{{ link.text }}
		</a>
	{% endif %}

</div>