/**
*
* Variables
*
**/
/** Grid **/
// static/sass/layout/_am2_grid.scss
$grid_content: 1185px; //wrapper
$grid_content_narrow: $grid_content*0.8;
$grid_margin: 20px;
$grid_padding: 15px;

/* refractor this vars */
$color_brand: #111;
$color_button_text: #fff;
$color_button_background: $color_brand;
$color_button_text: #fff;
$color_button_background_hover: lighten( $color_brand, 10% );
$color_button_text_hover: #fff;
// header
$color_header_background: $color_brand;
$color_header_text: #fff;
// footer
$color_footer_background:black;
$color_footer_content: #696969;
// responive navigation
$responsive_menu_open_speed: .3s;
$responsive_menu_width: 280px;
$responsive_menu_background: darken(#39b54a, 10%);
$responsive_menu_background_hover: darken($responsive_menu_background,10%);
$responsive_menu_color: #ffffff;
$responsive_menu_color_hover: #ffffff;

$component_margin: 28px;

$header_height: 60px;
$footer_height: 80px;

/** Typography **/
// static/sass/base/_font.scss
//$font_family: Arial, Helvetica, sans-serif;
$font_family: 'Open Sans',Arial, Helvetica, sans-serif;
$font_family_2: 'Roboto Mono',Arial, Helvetica, sans-serif;
$font_size: 14px;
$font_line_height: 1.8;

/** Buttons **/
$padding_button: 14px 31px;
$padding_large_button: 20px 45px;
$padding_small_button: 6px 8px;

/**
*
* Colors
*
**/

/** General **/
/** Body **/
$color_body_background: #000;
$color_body_text: #fff;

$color_section_text: #fff;
$color_section_title: #fff;
$color_section_subtitle: #000;
$color_section_dark: #fff;
$color_section_gray: #fff;

$color_primary: #39b54a;
$color_secondary: #996AFF;
$color_featured: #CC7D2C;
$color_danger: #B2153D;

$text_color_primary: #ffffff;
$text_color_secondary: #ffffff;
$text_color_featured: #ffffff;
$text_color_danger: #ffffff;

$color_light_gray: #f8f8f8;
$color_gray: #ecedf0;
$color_dark: #3d3c3c;
$color_border: #d5d5d5;
$color_underline: #d5d5d5;

/** Links **/
$color_link: #fff;
$color_link_accent: #EEFF41;
$color_link_hover: #EEFF41;

/** Sidebar **/
$color_sidebar_background: #2a2a2a;
$sidebar_width: 250px;

/** border radius */
$border_radius: 3px;

/**
*
* Transitions
*
**/
$transition: all 300ms ease 0s;

/**
*
* Breakpoints
*
**/
$breakpoint_small : 440;
$breakpoint_mobile : 640;
$breakpoint_tablet : 768;
$breakpoint_desktop : 1024;
$breakpoint_laptop : 1366;
